
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);


/*******************
SELECTION STYLING
*******************/

::selection {
    color: #fff;
    background: #f676b2; /* Safari */
}
::-moz-selection {
    color: #fff;
    background: #f676b2; /* Firefox */
}

/*******************
BODY STYLING
*******************/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url(/vi/s/login/bg-login.jpg) no-repeat;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:300;
    text-align: left;
    text-decoration: none;
    width:100%;
    height:100%;
    overflow:hidden;
}

#wrapper {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -200px;
}

.formwasincorrect {
    -webkit-animation: cssAnimation 0.2s 3 linear;
    -moz-animation: cssAnimation 0.2s 3 linear;
    -o-animation: cssAnimation 0.2s 3 linear;
}
@-webkit-keyframes cssAnimation {
    0% { -webkit-transform: translate(0px); }
20% { -webkit-transform: translate(-10px); }
80% { -webkit-transform: translate(10px); }
100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes cssAnimation {
    0% { -moz-transform: translate(0px); }
20% { -moz-transform: translate(-10px); }
80% { -moz-transform: translate(10px); }
100% { -moz-transform: translate(0px); }
}
@-o-keyframes cssAnimation {
    0% { -o-transform: translate(0px); }
20% { -o-transform: translate(-10px); }
80% { -o-transform: translate(10px); }
100% { -o-transform: translate(0px); }
}


/*******************
LOGIN FORM
*******************/

.login-form {
    width: 600px;
    margin: 0 auto;
    position: relative;
    z-index:5;
    background: #f3f3f3;
    border: 1px solid #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/

.login-form .header {
    padding: 30px 30px;
}

.login-form .header img {
    float: right;
    width: 100px;
    position: absolute;
    top: -20px;
    right: 0px;
    margin-right: 30px;
    box-shadow: 0px 0px 3px #333;
}

.login-form .header h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height:34px;
    color: #414848;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    margin-bottom: 10px;
}

.login-form .header span {
    font-size: 11px;
    line-height: 16px;
    color: #678889;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/******************* CONTENT *******************/

.login-form .content {
    padding: 0 30px 25px 30px;
}

/* Input field */
.login-form .content .input {
    width: 488px;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    background: #fff;
    border: 1px solid #fff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}


.viur_password, .viur_text {
    width: 488px!important;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    background: #fff;
    border: 1px solid #fff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
    margin-top: 25px;
}

.login-form .content .input:hover {
    background: #dfe9ec;
    color: #414848;
}

.login-form .content .input:focus {
    background: #f7f7f7;
    color: #414848;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}


/* Animation */
.input, .button {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

/******************* FOOTER *******************/

.login-form .footer {
    overflow: auto;
    background: #ccc;
    border-top: 1px solid #fff;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.login-form .footer .button {
    float:right;
    width:100%;
    padding: 20px 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
    background: #cc0000;
    border: 1px solid #555;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .footer .button:hover {
    background: #666;
    border: 1px solid rgba(256,256,256,0.75);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .footer .button:focus {
    background: #666;
    box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}
.button.is_loading:before  {
    background-image: url(icons/is_loading.gif);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    content: ' ';
    position: absolute;
    margin-left: -40px;
    margin-top: -8px;
    top: 50%;
    left: 50%;
}
.login-form .footer .button.is_loading {
    background-color:#666;
    position:relative;
}