<!DOCTYPE html>
<html xml:lang="{{getLanguage()}}" lang="{{getLanguage()}}" ng-app="ViApp" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
		<meta content="Not Supported">

  	 	<!-- Robots müssen leider draußen bleiben :( -->
        <meta name="robots" content="noindex,nofollow" />

  	 	<!-- Herzlich willkommen bei -->
        <title>Vi-Admin</title>
        <meta name="title" content="ViUR | Browsersupport" />
        <meta name="DC.Title" content="ViUR | Browsersupport" />
        <meta property="og:title" content="ViUR | Browsersupport" />

        <meta name="description" content="Vi ist das Online-Administrationstool für ViUR-Informationssysteme.">

    	<!-- Diese Webseite ist ein Viur Informationssystem. -->
	    <meta name="generator" content="http://www.viur.is" />
	    <link rel="publisher" href="https://plus.google.com/107200665691554897689"/>

    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- Mit Liebe hergestellt von Mausbrand. -->
        <!-- www.mausbrand.de -->
        <link type="text/plain" rel="author" href="/resources/meta/humans.txt" />

		<!-- Icons -->
		<link rel="shortcut icon" href="/resources/meta/favicon.png" />

        <!-- iPhone -->
        <link href="/resources/meta/viur-apple-touch-57x57-precomposed.png" sizes="57x57" rel="apple-touch-icon-precomposed" />
        <link href="/resources/meta/viur-apple-touch-startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />
        <!-- iPhone (Retina) -->
        <link href="/resources/meta/viur-apple-touch-icon-114x114-precomposed.png" sizes="114x114" rel="apple-touch-icon-precomposed" />
        <link href="/resources/meta/viur-apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <!-- iPhone 5 -->
        <!-- FIXME! <link href="/resources/meta/viur-apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" /> -->

        <!-- iPad -->
        <link href="/resources/meta/viur-apple-touch-icon-72x72-precomposed.png" sizes="72x72" rel="apple-touch-icon-precomposed" />
        <link href="/resources/meta/viur-apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />
        <link href="/resources/meta/viur-apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />
        <!-- iPad (Retina) -->
        <link href="/resources/meta/viur-apple-touch-icon-144x144-precomposed.png" sizes="144x144" rel="apple-touch-icon-precomposed" />
        <link href="/resources/meta/viur-apple-touch-startup-image-1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="/resources/meta/viur-apple-touch-startup-image-1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

        <!-- CSS -->
        <link rel="stylesheet" href="/vi/s/login.css" />

		
</head>

    <body>
    	
        <div id="wrapper" >

            <div class="login-form">
                <div class="header">
                    <h1>Logout erfolgreich<br />
                        <span style="font-size: 26px;">Logout successful</span></h1>
                    <a href="#"><img src="/vi/s/login/login-logo.png" /></a>
                </div>
                <div class="content">
                    
                    Sie haben sich erfolgreich abgemeldet.<br /><br />
                    You logged out successfully.


                </div>
                <!-- <div id="loadingstate" class="loadingstate" style="display: none">Im loading...</div> -->
                <div class="footer">
                    <button id="submitbtn" class="button" onclick="window.location='/vi'" title="vi /Login">Login</button>
                </div>
            </div>
        </div>
</body>
</html>

