@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
@import url('reset.css');
/* css resets */
@charset "UTF-8";
/* #ViUR Standards and fallback
================================================== */
/* ViUR red */
/* dark red */
/* light red */
/* highlight red */
/* Green */
/* Red */
/* Icon-Grey: #939393;*/
/* #ViUR Styles
================================================== */
fieldset.active {
  height: inherit;
}
fieldset.active section {
  display: block;
}
fieldset.inactive {
  height: 40px;
}
fieldset.inactive section {
  display: none;
}
body {
  font-family: 'Open Sans', Geneva, Arial, Helvetica, sans-serif;
  height: 100%;
  line-height: 1.4em;
  color: #333;
  font-size: 100.01%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ddd;
  background-image: url('icons/vi_bg.svg');
  background-repeat: no-repeat;
  background-position: center 111px;
}
a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #222;
  text-decoration: underline;
}
em {
  font-style: italic;
}
h1 {
  font-size: 1.1em;
  line-height: 2.5em;
  color: #be1622;
}
h2 {
  font-size: 1.4em;
  color: #ccc;
}
h3 {
  font-size: 1em;
  color: #444;
}
p {
  margin-bottom: 10px;
}
/* #Splash Screen
================================================== */
.splash.progressBar {
  margin: 0px auto;
  height: 6px;
  line-height: 6px;
  font-size: 0px;
  max-height: 6px;
  width: 0px;
  background-color: #be1622;
}
.splash.status {
  margin-top: 6px;
  font-family: sans;
  font-weight: bold;
}
.splash.cont {
  background-color: white;
  color: #333;
  z-index: 10000;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.splash.infoCont {
  margin: 0px auto;
  width: 40%;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.splash.header {
  text-align: center;
}
/* #Site Styles
================================================== */
.wrapper {
  width: 100%;
  font-size: .95em;
  position: relative;
  top: 0px;
  height: 100%;
  background-color: transparent;
}
#CoreWindow.is_loading:after {
  background-image: url(icons/is_loading32.gif);
  background-position: center 35%;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  z-index: 1000;
  content: ' ';
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* #vi_topbar
================================================== */
.vi_topbar {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  height: 45px;
  width: 100%;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid #be1622;
  background-color: #eee;
  background-color: rgba(238, 238, 238, 0.8);
  background-image: -webkit-gradient(linear, right top, right bottom, from(rgba(238, 238, 238, 0.8)), to(rgba(255, 255, 255, 0.2)));
  /* webkit */
  background-image: -moz-linear-gradient(top center, rgba(238, 238, 238, 0.8) 20%, rgba(255, 255, 255, 0.2) 95%);
  /* mozilla - FF3.6+ */
}
.vi_topbar h1,
.vi_topbar h2,
.vi_topbar span {
  /*line-height: 1.9em;*/
  position: relative;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  font-weight: 600;
  float: left;
  width: auto;
  color: #444;
  display: block;
  white-space: nowrap;
}
.vi_topbar h1 {
  min-width: 15.7%;
  margin-right: .4%;
}
.vi_topbar h1:before {
  content: ' ';
  background-image: url('icons/vi_app_logo.png');
  background-size: cover;
  width: 45px;
  height: 45px;
  display: block;
  /*z-index: 11;*/
  float: left;
  margin-right: 15px;
}
.vi_topbar .currentmodul {
  position: relative;
  text-align: center;
  float: left;
  width: auto;
  margin-top: 10px;
}
.vi_topbar .currentmodul img {
  width: 32px;
  height: 32px;
  float: left;
  margin: -5px 15px 0;
}
.iconnav {
  position: relative;
  font-size: .8em;
  line-height: 2.4em;
  float: right;
}
.iconnav li {
  float: left;
  color: #777;
}
.iconnav li a,
.iconnav li a:link,
.iconnav li a:visited {
  border-left: 1px solid #fafafa;
  border-bottom: 2px solid #be1622;
  color: #777;
  position: relative;
  padding: 7px 7px 7px;
  float: left;
  text-decoration: none;
  text-shadow: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.iconnav li a:hover,
.iconnav li a:active {
  color: #999;
  text-shadow: 0px 1px 1px #fff;
  background-color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #be1622;
  /*-moz-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, .6); -webkit-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, .6); box-shadow:inset 0px 0px 4px rgba(0, 0, 0, .6);*/
}
.iconnav li.inactive a,
.iconnav li.inactive a:link {
  color: #444;
}
.iconnav li.logout a {
  border-left: 1px solid #ddd;
  background-color: #ddd;
  -moz-box-shadow: inset 3px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 3px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 3px 1px 3px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #777777;
}
/* Icon Links */
.iconnav li a.icon {
  color: transparent;
  letter-spacing: -1em;
  overflow: hidden;
  min-width: 46px;
}
.iconnav li a.icon:before {
  background-image: url(icons/vi_iconnav_sprite.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  content: ' ';
  position: relative;
  float: left;
  margin-top: -1px;
  margin-left: 7px;
  margin-right: 7px;
}
/* Action Icons */
.iconnav li a.icon.dashboard:before {
  background-position: 0px 0px;
}
.iconnav li a.icon.myfiles:before {
  background-position: -32px 0px;
}
.iconnav li a.icon.accountmgnt:before {
  background-position: -64px 0px;
}
.iconnav li a.icon.tasks:before {
  background-position: -96px 0px;
}
.iconnav li a.icon.settings:before {
  background-position: -96px 0px;
}
.iconnav li a.icon.logout:before {
  background-position: -128px 0px;
}
.iconnav li a.icon.share:before {
  background-position: -224px 0px;
}
.iconnav li a.icon.search:before {
  background-position: -256px 0px;
}
.iconnav li a.icon:hover {
  overflow: visible;
  min-width: 130px;
  letter-spacing: normal;
}
.iconnav li.logout a:hover {
  background-color: #eee;
  -moz-box-shadow: inset 1px 0px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 0px 3px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #ff0000;
}
.iconnav li a:hover,
.iconnav li a:active {
  color: #999;
  background-color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #ff0000;
  /*-moz-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, .6); -webkit-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, .6); box-shadow:inset 0px 0px 4px rgba(0, 0, 0, .6);*/
}
.iconnav li.inactive a,
.iconnav li.inactive a:link {
  color: #444;
}
/* #vi_manager
================================================== */
.vi_manager {
  overflow: hidden;
  overflow-y: auto;
  z-index: 9;
  width: 15.7%;
  /*298px*/
  border-right: 1px solid #cccccc;
  position: fixed;
  background-color: #eeeeee;
  height: 100%;
}
.modullist {
  overflow: hidden;
  /*min-width:298px;*/
}
.modullist:first-of-type {
  margin-top: 45px;
}
.modullist:last-of-type {
  margin-bottom: 50px;
}
.modullist a,
.modullist a:visited {
  width: 100%;
  position: relative;
  border-bottom: 1px dotted #cccccc;
  border-right: 1px solid #ccc;
  float: left;
  height: auto;
  background-color: #f7f7f7;
  background: -moz-linear-gradient(top, #f2f2f2, #f7f7f7);
  /* Firefox */
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f7f7f7));
  /* Safari, Chrome */
  padding: 12px 13px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modullist:nth-child(even) a {
  background-color: #e9e9e9;
  background: -moz-linear-gradient(top, #e4e4e4, #e9e9e9);
  /* Firefox */
  background: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#e9e9e9));
  /* Safari, Chrome */
}
.modullist:nth-child(even) ul a {
  background-color: #d6d6d9;
  background: -moz-linear-gradient(top, #d0d0d3, #d6d6d9);
  /* Firefox */
  background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d3), to(#d6d6d9));
  /* Safari, Chrome */
}
.modullist a:hover,
.modullist a:active,
.modullist ul a:hover,
.modullist ul a:active {
  background: #fff;
  text-decoration: none;
  /*background:-moz-linear-gradient(top, #eee, #ddd); /* Firefox */
  /*background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd)); /* Safari, Chrome */
}
.modullist img {
  width: 32px;
  height: 32px;
  float: left;
}
.modullist h3 {
  float: left;
  letter-spacing: 1px;
  margin-left: 15px;
  line-height: 32px;
  text-shadow: 0px 1px 1px #fff;
  min-width: 20%;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.modullist ul img {
  width: 16px;
  height: 16px;
  float: left;
  margin-left: 16px;
}
.modullist ul h3 {
  float: left;
  letter-spacing: 1px;
  margin-left: 15px;
  line-height: 16px;
  text-shadow: 0px 1px 1px #fff;
  font-size: .8em;
  text-shadow: none;
  color: #666;
}
.modullist ul a {
  background-color: #e9e9e9;
  background: -moz-linear-gradient(top, #e4e4e4, #e9e9e9);
  /* Firefox */
  background: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#e9e9e9));
  /* Safari, Chrome */
}
.modullist ul ul a {
  background-color: #dbdbdc;
  background: -moz-linear-gradient(top, #d5d5d7, #dbdbdc);
  /* Firefox */
  background: -webkit-gradient(linear, left top, left bottom, from(#d5d5d7), to(#dbdbdc));
  /* Safari, Chrome */
  /*padding: 7px 13px;*/
  border-bottom: 1px dotted #bbb;
}
.modullist ul ul img {
  margin-left: 44px;
}
.modullist ul ul ul img {
  margin-left: 64px;
}
.modullist ul button {
  margin-top: -32px;
  position: relative;
  float: right;
  margin-right: 10px;
}
.modullist ul ul button {
  /*margin-top: -27px;*/
}
.modullist ul button.closebtn {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 22px;
  padding: 9px 2px 11px;
  line-height: 0;
  font-size: .7em;
  border: 1px solid #be1622;
  background-color: #e30613;
  background: -moz-linear-gradient(top, #be1622, #e30613);
  /* Firefox */
  background: -webkit-gradient(linear, left top, left bottom, from(#be1622), to(#e30613));
  /* Safari, Chrome */
  color: transparent;
  letter-spacing: -1em;
  overflow: hidden;
}
.modullist ul button.closebtn:before {
  width: 16px;
  height: 16px;
  content: ' ';
  position: relative;
  float: left;
  margin-top: -7px;
  background-image: url(icons/vi_actions_sprite_white.svg);
  background-repeat: no-repeat;
  background-position: 0px -64px;
}
.modullist ul button.closebtn:hover {
  overflow: visible;
  min-width: 90px;
  letter-spacing: normal;
  color: #eee;
}
.modullist li.is_active a {
  background: rgba(230, 0, 0, 0.7);
}
.modullist li.is_active h3 {
  color: #fff;
  text-shadow: none;
}
/* #vi_viewer
================================================== */
.vi_viewer {
  margin-left: 15.7%;
  width: 84.3%;
  float: left;
  position: relative;
  z-index: 1;
  background-color: #f4f4f4;
  /*border-left:1px solid #ccc; 
      border-right:1px solid #ccc;
      padding: 80px 30px 45px;
      min-height: 400px;
      min-width:500px; */
}
/* #vi_operator
================================================== */
.vi_operator {
  z-index: 20;
  padding: 150px 1% 45px;
  float: left;
  width: 98%;
  /*min-height: 500px;*/
  background: #f6f6f6;
  overflow: hidden;
}
.vi_operator > div.supports_drop {
  border-top: 1px dashed #ccc;
  padding: 20px 0;
  border-bottom: 1px dashed #ccc;
  margin-top: -20px;
}
.has_multiple_children .vi_operator {
  width: 40.3%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}
.vi_operator.is_disabled {
  background-color: #ddd;
  padding: 70px 1% 45px;
}
.vi_operator > .is_disabled {
  opacity: .7;
}
.has_multiple_children .vi_operator:nth-of-type(even) {
  right: 0;
}
.vi_operator .search,
.vi_operator .compoundfilter {
  width: 96%;
  padding: 15px 1%;
  background: #dcdcdc;
  margin: 10px 1%;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #d2d2d2;
  transition: all .3s ease;
  overflow: hidden;
}
.vi_operator .compoundfilter h2,
.vi_operator .search h2 {
  color: #777;
  line-height: 1.4em;
  font-size: 0.8em;
  padding: 0 15px;
}
.vi_operator .compoundfilter.collapsed .extendedfilter {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.vi_operator .search.collapsed input,
.vi_operator .search.collapsed button {
  display: none;
}
.vi_operator .search.expanded input {
  margin: 10px 15px;
}
.vi_operator .search.collapsed:hover,
.vi_operator .compoundfilter.collapsed:hover {
  background-color: #e2e2e2;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.vi_operator .search.expanded,
.vi_operator .compoundfilter.expanded {
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  background-color: #d6d6d6;
}
.vi_operator .compoundfilter.expanded .extendedfilter {
  margin-top: 15px;
}
.vi_operator .compoundfilter.embed {
  width: 98%;
  margin: 0 0 20px;
  background: #eee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.vi_operator .tree .search h2 {
  width: 60px;
  float: left;
  text-align: center;
  padding: 4px 10px 6px;
  height: 16px;
  border: 1px solid#bbb;
  border-right-width: 0;
  background: #e3e3e3;
  color: #777;
  overflow: hidden;
  line-height: 1.4em;
  font-size: 0.8em;
  margin-left: 7px;
}
/*.vi_operator:nth-child(n+1):before {
    content:" ";
    margin-left:0px;
    margin-top:50%;
    float:left;
    border-style: solid;
    border-width: 24px 30px;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #f6f6f6;
  }*/
/* #actionbar
================================================== */
.vi_operator .actionbar {
  width: 83%;
  /*min-width: 500px;*/
  position: fixed;
  margin-top: -105px;
  margin-left: -1%;
  padding: 15px 1%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  background-color: #eee;
  background-color: rgba(210, 210, 210, 0.9);
  background-image: -webkit-gradient(linear, right top, right bottom, from(rgba(238, 238, 238, 0.9)), to(rgba(255, 255, 255, 0.2)));
  background-image: -moz-linear-gradient(top center, rgba(238, 238, 238, 0.8) 20%, rgba(255, 255, 255, 0.2) 95%);
  z-index: 100;
}
.has_multiple_children .actionbar {
  width: 41%;
}
.vi_operator .actionbar h3:before {
  content: '';
  margin-top: -4px;
  margin-left: -10px;
  margin-right: 10px;
  border-right: 1px solid #ccc;
  width: 16px;
  height: 16px;
  float: left;
  padding: 5px 6px 5px 4px;
  background-image: url(icons/vi_actions_view_sprite.svg);
  background-repeat: no-repeat;
}
.vi_operator .actionbar h3.action_list:before {
  background-position: 0px 0px;
}
.vi_operator .actionbar h3.action_add:before {
  background-position: -24px 0px;
}
.vi_operator .actionbar h3.action_edit:before {
  background-position: -48px 0px;
}
.vi_operator .actionbar h3.action_Text:before {
  background-position: -72px 0px;
}
.vi_operator .actionbar h3 {
  line-height: 1em;
  color: #222;
  height: 16px;
  padding: 4px 15px 6px 10px;
  text-align: center;
  background-color: #ddd;
  background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff', EndColorStr='#ddd', GradientType=0);
  float: left;
  border: 1px solid #aaa;
  border-right: 2px solid #be1622;
  margin-right: 4px;
}
.actionbar .operations,
button.selectfilter,
button.text.save[type="button"],
button.flipview[type="button"],
button.icon.close[type="button"],
button.icon.activateselection[type="button"] {
  float: right;
}
.actionbar.is_disabled {
  visibility: hidden;
}
.actionbar select {
  height: 28px;
  padding-top: 4px;
  padding-bottom: 1px;
  margin-right: 20px;
}
.actionbar .spacer {
  width: 10px;
  display: inline-block;
}
/* #vi_buttons
================================================== */
button[type="button"] {
  border: 1px solid #999;
  color: #222;
  height: 16px;
  padding: 6px 7px 20px;
  margin: 0;
  margin-right: 4px;
  text-align: center;
  background-color: #bbb;
  background: -moz-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
  background: -webkit-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: -o-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: -ms-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: linear-gradient(to bottom, #dddddd 0%, #bbbbbb 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ddd', EndColorStr='#bbb', GradientType=0);
  cursor: pointer;
  -webkit-transition: all 0.3s 0.7s ease;
  -moz-transition: all 0.3s 0.7s ease;
  -o-transition: all 0.3s 0.7s ease;
  transition: all 0.3s 0.7s ease;
}
button[type="button"]:hover {
  border: 1px solid #666;
  color: #222;
  letter-spacing: normal;
}
/* Icon Buttons */
button.icon,
.vi_operator .search button,
button.btn_yes,
button.btn_no {
  color: transparent;
  letter-spacing: -1em;
  overflow: hidden;
  min-width: 28px;
}
/* Icons for Icon Buttons as Sprite */
button.icon:before,
.vi_operator .search button:before,
.btn_yes:before,
.btn_no:before,
.modullist ul .action_add h3:before,
.modullist ul .action_edit h3:before {
  background-image: url(icons/vi_actions_sprite.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: ' ';
  position: relative;
  float: left;
  margin-left: -1px;
  margin-top: -1px;
}
/* Action Icons */
button.add:before,
button.new:before,
.action_add h3:before {
  background-position: -16px 0px;
}
button.edit:before,
.action_edit h3:before {
  background-position: -64px 0px;
}
button.clone:before {
  background-position: -32px 0px;
}
button.download:before {
  background-position: -16px -64px;
}
button.invite:before {
  background-position: -80px -32px;
}
button.delete:before {
  background-position: -48px 0px;
}
button.preview:before {
  background-position: -96px 0px;
}
.vi_operator .search button:before,
button.selectfilter:before,
button.search:before {
  background-position: -112px 0px;
}
button.text.save:before,
button.save.close:before,
.btn_yes:before {
  background-position: 0px -16px;
}
button.activateselection:before {
  background-position: 0px -32px;
}
button.save.continue:before {
  background-position: -16px -16px;
}
button.save.new:before {
  background-position: -32px -16px;
}
button.reset:before {
  background-position: -64px -16px;
}
button.reload:before {
  background-position: -80px -16px;
}
button.close:before,
button.cancel:before,
.btn_no:before {
  background-position: 0px 0px;
}
button.select:before {
  background-position: -112px -16px;
}
button.selectfields:before {
  background-position: -112px -112px;
}
button.selectall:before {
  background-position: -48px -64px;
}
button.unselectall:before {
  background-position: -64px -64px;
}
button.selectinvert:before {
  background-position: -80px -64px;
}
button.lock:before {
  background-position: -96px -64px;
}
button.unlock:before {
  background-position: -112px -64px;
}
button.textedit:before {
  background-position: -96px -16px;
}
button.mkdir:before {
  background-position: -32px -32px;
}
button.upload:before {
  background-position: -48px -32px;
}
/* Billing Icons */
button.markpayed:before {
  background-position: 0px -48px;
}
button.marksend:before {
  background-position: 0px -32px;
}
button.getbill:before {
  background-position: -16px -48px;
}
button.getdeliverynote:before {
  background-position: -16px -32px;
}
button.getbuchungsbestaetigung:before {
  background-position: -64px -32px;
}
button.resend:before {
  background-position: -80px -32px;
}
button.trans:before {
  background-image: url(icons/actions/translate.svg);
}
button.import:before {
  background-position: -96px -48px;
}
/* Newsletter Icons */
button.send.newsletter:before {
  background-position: -80px -32px;
}
button.send.preview:before {
  background-position: -96px -32px;
}
button.stats:before {
  background-position: -112px -32px;
}
/* Textedit Icons */
button.text {
  margin-bottom: 10px;
}
button.text.H1:before {
  background-position: 0px -80px;
}
button.text.H2:before {
  background-position: -16px -80px;
}
button.text.H3:before {
  background-position: -32px -80px;
}
button.text.H1,
button.text.H2 {
  margin-right: 0;
  border-right: 0;
}
button.text.bold:before {
  background-position: -48px -80px;
}
button.text.italic:before {
  background-position: -64px -80px;
}
button.text.underline:before {
  background-position: -80px -80px;
}
button.text.strikeThrough:before {
  background-position: -96px -80px;
}
button.text.bold,
button.text.italic,
button.text.underline {
  margin-right: 0;
  border-right: 0;
}
button.text.justifyRight:before {
  background-position: 0px -96px;
}
button.text.justifyCenter:before {
  background-position: -16px -96px;
}
button.text.justifyLeft:before {
  background-position: -32px -96px;
}
button.text.justifyLeft,
button.text.justifyCenter {
  margin-right: 0;
  border-right: 0;
}
button.text.BLOCKQUOTE:before {
  background-position: -112px -80px;
}
button.text.insertOrderedList:before {
  background-position: 0px -128px;
}
button.text.insertUnorderedList:before {
  background-position: -16px -128px;
}
button.text.insertOrderedList {
  margin-right: 0;
  border-right: 0;
}
button.text.indent:before {
  background-position: -32px -128px;
}
button.text.outdent:before {
  background-position: -48px -128px;
}
button.text.indent {
  margin-right: 0;
  border-right: 0;
}
button.text.removeformat:before {
  background-position: -80px -128px;
}
button.text.link:before {
  background-position: -48px -48px;
}
button.text.redo:before {
  background-position: -48px -16px;
}
button.text.undo:before {
  background-position: -64px -16px;
}
button.text.undo {
  margin-right: 0;
  border-right: 0;
}
button.text.image:before {
  background-position: -96px -96px;
}
button.text.image,
button.text.link {
  margin-right: 0;
  border-right: 0;
}
button.flipview:before {
  background-position: -64px -48px;
}
button.flipview.is_htmlview:before {
  background-position: -96px -16px;
}
button.text.table:before {
  background-position: 0px -112px;
}
button.text.table.remove.col:before {
  background-position: -16px -112px;
}
button.text.table.remove.row:before {
  background-position: -32px -112px;
}
button.text.table.newrow.before:before {
  background-position: -48px -112px;
}
button.text.table.newrow.after:before {
  background-position: -64px -112px;
}
button.text.table.newcol.before:before {
  background-position: -80px -112px;
}
button.text.table.newcol.after:before {
  background-position: -96px -112px;
}
button.text.table.remove.row,
button.text.table.newrow.before,
button.text.table.newrow.after,
button.text.table.newcol.before {
  margin-right: 0;
  border-right: 0;
}
button.icon[type="button"]:hover {
  border-color: #666;
  overflow: visible;
  color: #222;
  min-width: 120px;
  letter-spacing: normal;
}
.vi_operator .search button:hover {
  border-color: #666;
}
/* Red Buttons */
button.icon.close[type="button"],
button.icon.delete[type="button"] {
  border: 1px solid #e20614;
  color: #fff;
  background-color: #c31520;
  background: -moz-linear-gradient(top, #e20614 0%, #c31520 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e20614), color-stop(100%, #c31520));
  background: -webkit-linear-gradient(top, #e20614 0%, #c31520 100%);
  background: -o-linear-gradient(top, #e20614 0%, #c31520 100%);
  background: -ms-linear-gradient(top, #e20614 0%, #c31520 100%);
  background: linear-gradient(to bottom, #e20614 0%, #c31520 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e20614', EndColorStr='#c31520', GradientType=0);
}
/* Red Button Hover */
button.icon.close[type="button"]:hover,
button.icon.cancel[type="button"]:hover,
button.icon.delete[type="button"]:hover {
  border: 1px solid #c31520;
  color: #fff;
  background-color: #e20614;
  background: -moz-linear-gradient(top, #c31520 0%, #e20614 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c31520), color-stop(100%, #e20614));
  background: -webkit-linear-gradient(top, #c31520 0%, #e20614 100%);
  background: -o-linear-gradient(top, #c31520 0%, #e20614 100%);
  background: -ms-linear-gradient(top, #c31520 0%, #e20614 100%);
  background: linear-gradient(to bottom, #c31520 0%, #e20614 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#c31520', EndColorStr='#e20614', GradientType=0);
}
/* White Icon Sprite for Red Buttons */
button.icon.close[type="button"]:before,
button.icon.delete[type="button"]:before,
button.icon.cancel[type="button"]:hover:before,
button.icon.delete[type="button"]:hover:before {
  background-image: url(icons/vi_actions_sprite_white.svg);
}
/* Green Buttons */
button.icon.save.close[type="button"],
button.icon.activateselection[type="button"],
button.text.save[type="button"],
button.icon.add[type="button"] {
  border: 1px solid #298342;
  color: #fff;
  background-color: #479c42;
  background: -moz-linear-gradient(top, #479c42 0%, #298342 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #479c42), color-stop(100%, #298342));
  background: -webkit-linear-gradient(top, #479c42 0%, #298342 100%);
  background: -o-linear-gradient(top, #479c42 0%, #298342 100%);
  background: -ms-linear-gradient(top, #479c42 0%, #298342 100%);
  background: linear-gradient(to bottom, #479c42 0%, #298342 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#479c42', EndColorStr='#298342', GradientType=0);
}
/* Green Button Hover */
button.icon.activateselection[type="button"]:hover,
button.text.save[type="button"]:hover,
button.icon.add[type="button"]:hover,
button.icon.save.close[type="button"]:hover {
  border: 1px solid #479c42;
  color: #fff;
  background-color: #298342;
  background: -moz-linear-gradient(top, #298342 0%, #479c42 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #298342), color-stop(100%, #479c42));
  background: -webkit-linear-gradient(top, #298342 0%, #479c42 100%);
  background: -o-linear-gradient(top, #298342 0%, #479c42 100%);
  background: -ms-linear-gradient(top, #298342 0%, #479c42 100%);
  background: linear-gradient(to bottom, #298342 0%, #479c42 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#298342', EndColorStr='#479c42', GradientType=0);
}
/* White Icon Sprite for Green Buttons */
button.icon.add[type="button"]:before,
button.icon.activateselection[type="button"]:before,
button.text.save[type="button"]:before,
button.icon.add[type="button"]:hover:before,
button.icon.save.close[type="button"]:before,
button.icon.save.close[type="button"]:hover:before {
  background-image: url(icons/vi_actions_sprite_white.svg);
}
/* Loading Buttons */
button.icon.is_loading[type="button"]:before,
button.is_loading[type="button"]:before,
button.icon.is_loading[type="button"]:hover:before,
button.is_loading[type="button"]:hover:before,
button.icon.save.close.is_loading[type="button"]:hover:before {
  background-image: url(icons/is_loading.gif);
  background-position: 0px 0px;
}
/* Standard Buttons (28px wide, transparent Text) */
button.icon.close[type="button"],
button.icon.activateselection[type="button"],
button.text.save[type="button"],
button.icon.delete[type="button"],
button.icon.delete.is_disabled[type="button"]:hover,
button.icon.text[type="button"]:hover,
button.icon.flipview[type="button"]:hover,
button.icon.is_disabled[type="button"]:hover {
  color: transparent;
  letter-spacing: -1em;
  overflow: hidden;
  min-width: 28px;
  transition-delay: 0;
}
/* Primary Buttons (120px wide without hover) */
button.icon.save.close[type="button"],
button.icon.add[type="button"] {
  color: #fff;
  overflow: visible;
  min-width: 120px;
  letter-spacing: normal;
}
/* 120px wide Hover */
button.icon.delete[type="button"]:hover,
button.icon.close[type="button"]:hover,
button.icon.activateselection[type="button"]:hover,
button.icon.save.close[type="button"]:hover {
  overflow: visible;
  min-width: 120px;
  letter-spacing: normal;
}
/* Disabled Buttons */
button.icon.delete.is_disabled[type="button"] {
  background: #e0e0e0;
}
button.icon.delete.is_disabled[type="button"]:hover,
button.icon.is_disabled[type="button"]:hover {
  border-color: #999;
  background: #e0e0e0;
}
button.icon.delete.is_disabled[type="button"]:before,
button.icon.is_disabled:before {
  opacity: 0.3;
  background-image: url(icons/vi_actions_sprite.svg) !important;
}
button.icon.delete.is_disabled[type="button"],
button.icon.is_disabled {
  cursor: default;
  color: transparent;
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}
/* #preview
================================================== */
.vi_operator > .preview {
  margin-top: -70px;
}
.vi_operator > .preview iframe {
  width: 100%;
  min-height: 80%;
  border: 1px solid #ccc;
  overflow: scroll;
}
/* #vi_forms
================================================== */
/*Define Accordion box*/
form {
  color: #474747;
  overflow: hidden;
  width: 100%;
}
form fieldset {
  width: 100%;
  float: left;
  overflow: hidden;
  color: #333;
  border: 0;
  padding: 0;
}
form fieldset legend {
  min-width: 580px;
  width: 100%;
  position: relative;
}
form fieldset legend a,
legend a:visited {
  padding: 8px 15px;
  display: block;
  font-weight: normal;
  color: #555;
  text-decoration: none;
  background: #ddd;
  border: 1px solid #bbb;
}
legend a:hover {
  color: #666;
  background: #ccc;
  text-decoration: none;
  cursor: pointer;
}
form fieldset.is_incomplete:target legend a,
form fieldset.is_incomplete legend a {
  background-color: #1495de;
  border-color: #073866;
  color: #fff;
}
form fieldset.is_incomplete legend a:before {
  background-image: url(icons/vi_actions_sprite_white.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: ' ';
  position: relative;
  float: left;
  margin-top: 1px;
  margin-left: -4px;
  margin-right: 5px;
  background-position: -64px 0px;
}
/*General Accordion****************************************************************************/
/*Set style of open slide*/
form fieldset:target legend a {
  color: #333;
  background: #ffffff;
}
form fieldset legend a:before {
  background-image: url(icons/vi_actions_sprite.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: ' ';
  position: relative;
  float: left;
  margin-top: 3px;
  margin-left: 4px;
  margin-right: 7px;
  background-position: 0px -64px;
}
/*form fieldset.default legend a:before,*/
form fieldset.active legend a:before,
form fieldset:target legend a:before {
  background-position: -16px -64px;
}
form fieldset.is_incomplete section,
form fieldset:target section {
  display: block;
}
/*set style of closed slide*/
form fieldset section {
  display: none;
  border: 1px solid #eee;
  padding: 3% 3% 5%;
  background: #fcfcfc;
  overflow: hidden;
}
/*Vertical Accordion *************************************************************************/
form fieldset {
  height: 40px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/*Set height of the slide*/
form fieldset.is_incomplete,
form fieldset:target {
  /*min-height: 150px;*/
  height: auto;
  width: 100%;
}
form fieldset section > div {
  padding-bottom: 10px;
  margin-bottom: 10px;
  /*border-bottom:1px dotted #ccc;*/
  overflow: hidden;
  width: 100%;
  float: right;
}
.selectioncontainer .entrydescription,
form label {
  width: 220px;
  float: left;
  text-align: right;
  padding: 4px 10px 5px;
  min-height: 16px;
  border: 1px dotted #ddd;
  border-right-width: 0;
  background: #f9f9f9;
  overflow: hidden;
  line-height: 1.4em;
  font-size: 0.8em;
}
form label.text {
  border-bottom: 0;
  border-right-width: 1px;
}
form label.selectone {
  border-right-width: 1px;
}
form label.is_required {
  border-style: solid;
  border-left-color: #be1622;
  border-left-width: 2px;
  background: #fff;
}
form label.is_invalid {
  background-color: #1495de;
  border-color: #073866;
  color: #fff;
}
form label.is_invalid:before {
  background-image: url(icons/vi_actions_sprite_white.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: ' ';
  position: relative;
  float: left;
  margin-top: 1px;
  margin-left: -4px;
  margin-right: 5px;
  background-position: -64px 0px;
}
form label.is_valid {
  background-color: #469b41;
  border-color: #288342;
  color: #fff;
}
form label.is_valid:before {
  background-image: url(icons/vi_actions_sprite_white.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: ' ';
  position: relative;
  float: left;
  margin-top: 1px;
  margin-left: -4px;
  margin-right: 5px;
  background-position: 0px -16px;
}
.file .fileentry img {
  float: left;
  margin-right: 0px;
  height: 26px;
  width: auto;
  width: 26px;
  border: 1px solid #ccc;
  border-right-width: 0;
  box-shadow: none;
}
input,
textarea,
select,
input[type="text"],
input[type="email"],
input[type="date"],
input[type="url"],
input[type="password"],
.text .preview,
[contenteditable] {
  display: inline-block;
  font-size: 0.9em;
  width: 50%;
  margin-right: 15px;
  padding: 4px 1.3% 6px;
  height: 16px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #be1622;
  box-shadow: inset 0px 0px 3px #eee;
  font-weight: 300;
  border-radius: 0px;
  background: #eaeaea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eaeaea 0%, #fafafa 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #fafafa));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eaeaea 0%, #fafafa 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eaeaea 0%, #fafafa 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eaeaea 0%, #fafafa 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eaeaea 0%, #fafafa 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#fafafa', GradientType=0);
  /* IE6-9 */
}
.compoundfilter select {
  min-width: auto;
}
.bone.text .languagebuttons {
  float: left;
}
.languagebuttons button.is_active,
.languagebuttons button.is_filled.is_active {
  background: linear-gradient(to bottom, #666666 0%, #aaaaaa 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-color: #666;
  color: #fff !important;
}
.languagebuttons button.is_filled {
  color: #fff;
  background: transparent linear-gradient(to bottom, #298342 0%, #479c42 100%) repeat scroll 0% 0%;
}
/* #extended relational bone
================================================== */
.extendedrelational .selectioncontainer {
  width: 52.7%;
  float: left;
  margin-right: 15px;
}
.extendedrelational > div {
  overflow: hidden;
}
.extendedrelational .labelwrapper button {
  display: block;
  margin-top: -28px;
  float: right;
  margin-right: 0;
  margin-bottom: 0;
}
.extendedrelational .labelwrapper label {
  width: 100%;
  margin-bottom: 0;
  border-bottom: 1px dotted #ccc;
  min-width: 97.4%;
  padding: 3px 1.3% 6px;
  text-align: left;
}
.extendedrelational form {
  border-bottom: 1px solid #be1622;
  margin-bottom: 15px;
  float: left;
}
.extendedrelational form fieldset section {
  background: #f2f2f2;
}
.extendedrelational form fieldset {
  height: auto;
}
.extendedrelational form fieldset legend {
  width: 100%;
  position: relative;
}
.extendedrelational form fieldset legend a {
  padding: 4px 7px;
  color: #333;
  font-size: .8em;
  border: 1px solid #ddd;
  background: #f9f9f9;
  border-top: 0px;
}
.extendedrelational button.icon.select {
  float: left;
}
/* #vi_texteditor
================================================== */
.imageeditor label,
.linkeditor label,
.imageeditor input,
.linkeditor input {
  width: auto;
  margin-bottom: 10px;
}
.linkeditor input[type="checkbox"] {
  width: 15px;
}
.linkeditor .newwindowlbl {
  font-size: 0.8em;
}
.imageeditor input[type="checkbox"] {
  margin-top: 7px;
  margin-right: 50%;
}
.imageeditor input[type="number"] {
  margin-right: 50%;
}
.imageeditor label.widthlbl,
.imageeditor label.heightlbl,
.imageeditor label.titlelbl,
.linkeditor label.urllbl {
  float: left;
  width: 70px;
  font-size: 0.8em;
  padding: 2px 7px;
  border: 1px solid #aaa;
  background: #fdfdfd;
  border-right-width: 0;
  margin-bottom: 10px;
  margin-right: -2px;
}
.imageeditor .aspectlbl {
  float: left;
  font-size: 0.8em;
  margin-right: 10px;
}
.imageeditor input:after {
  content: '';
  display: block;
  clear: both;
}
.contentdiv[contenteditable] {
  width: 97.2%;
  height: auto;
  min-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0 0 250px;
  padding-top: 25px;
  display: block;
}
.contentdiv[contenteditable] a {
  text-decoration: underline;
}
.contentdiv[contenteditable] h1,
.contentdiv[contenteditable] h2,
.contentdiv[contenteditable] h3 {
  color: #222;
  margin-bottom: 15px;
}
.contentdiv[contenteditable] h1 {
  font-size: 2em;
  font-weight: 800;
}
.contentdiv[contenteditable] h2 {
  font-size: 1.4em;
  font-weight: 400;
}
.contentdiv[contenteditable] h3 {
  font-size: 1em;
  font-weight: 400;
}
.contentdiv[contenteditable] strong,
.contentdiv[contenteditable] b {
  font-weight: 800;
}
.contentdiv[contenteditable] em,
.contentdiv[contenteditable] i {
  font-style: italic;
}
.contentdiv[contenteditable] ul {
  margin-left: 30px;
  list-style-type: disc;
}
.contentdiv[contenteditable] ul ul {
  list-style-type: square;
}
.contentdiv[contenteditable] ol {
  margin-left: 30px;
  list-style-type: decimal;
}
.contentdiv[contenteditable] ol ol {
  list-style-type: lower-latin;
}
.getransdiv {
  padding: 2%;
  margin-top: -220px;
  border: 1px solid #ccc;
  font-weight: 100;
  background: #eee;
}
/* #vi_input_bones
================================================== */
input[type="date"] {
  width: 162px;
}
input[type="radio"],
input[type="checkbox"] {
  margin-right: 15px;
}
.bone.selectmulti div label,
.bone.accessselectmulti div label {
  border: 1px solid #ccc;
  border-top-width: 0;
  clear: left;
  margin-left: 241px;
  width: 320px;
}
.bone.selectmulti div label:first-of-type {
  clear: none;
  margin-left: 0;
  border: 1px solid #ccc;
}
.bone.selectmulti div label:nth-of-type(even) {
  background-color: #eee;
}
.bone.selectmulti div label input {
  float: right;
  width: 15px;
  margin-right: 0;
}
.bone.selectmulti div label span {
  display: block;
  float: left;
}
.bone.selectmulti.access .access-state {
  background-image: url('icons/user-rights_sprite.svg');
  background-repeat: no-repeat;
  padding: 0;
  margin: 2px;
  width: 26px;
  height: 26px;
  border: 1px solid #ed1c24;
  background-color: #ccc;
  display: inline-block;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}
.bone.selectmulti.access .access-state.view {
  background-position: 0px -26px;
}
.bone.selectmulti.access .access-state.edit {
  background-position: -26px -26px;
}
.bone.selectmulti.access .access-state.delete {
  background-position: -52px -26px;
}
.bone.selectmulti.access .access-state.add {
  background-position: -78px -26px;
}
.bone.selectmulti.access .access-state.view.active,
.bone.selectmulti.access .access-state.view.disabled {
  background-position: 0px 0px;
}
.bone.selectmulti.access .access-state.edit.active,
.bone.selectmulti.access .access-state.edit.disabled {
  background-position: -26px 0px;
}
.bone.selectmulti.access .access-state.delete.active,
.bone.selectmulti.access .access-state.delete.disabled {
  background-position: -52px 0px;
}
.bone.selectmulti.access .access-state.add.active,
.bone.selectmulti.access .access-state.add.disabled {
  background-position: -78px 0px;
}
.bone.selectmulti.access .access-state.active {
  border-color: #6cb34d;
  background-color: #8ac271;
}
.bone.selectmulti.access .access-state:hover,
.bone.selectmulti.access .access-state.active:hover {
  border-color: #555;
  background-color: #aaa;
}
.bone.selectmulti.access .access-state.disabled,
.bone.selectmulti.access .access-state.disabled:hover {
  border-color: #999;
  background-color: #ccc;
  pointer: not-allowed;
}
input[type="password"]:nth-of-type(even) {
  margin-top: 12px;
}
.password div label {
  margin-top: 40px;
  margin-left: -240px;
}
textarea,
.text .preview {
  width: 97.2%;
  height: 120px;
  line-height: 1.5em;
}
.text .preview {
  overflow: hidden;
  overflow-y: scroll;
  border-bottom: 1px solid #777;
  background: #f1f1f1;
  text-overflow: ellipsis;
  max-width: 1300px;
}
select {
  width: auto;
  min-width: 325px;
  height: 28px;
  /* margin-left: 15px; */
  border-radius: 0;
  border: 1px solid #ccc;
  font-size: .75em;
  font-weight: 100;
  color: #444;
}
.selectioncontainer,
.tagcontainer {
  display: inline-block;
}
.tagcontainer {
  min-width: 50%;
}
.selectioncontainer button,
.tagcontainer button {
  margin-right: 15px;
}
.tagcontainer button {
  margin-bottom: 5px;
}
.selectioncontainer .entrydescription,
.selectioncontainer label {
  border: 1px solid #ccc;
  border-right-width: 0;
  width: auto;
  min-width: 220px;
  max-width: 80%;
  height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selectioncontainer .entrydescription,
.selectioncontainer label,
.selectioncontainer button {
  margin-bottom: 5px;
}
input:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #be1622;
}
span.tag {
  display: block;
}
.tag input[type=text] {
  margin-right: 0;
  border-right-width: 0;
  margin-bottom: 5px;
  width: 220px;
}
select.is_disabled,
form .treeitem input,
form .relational input {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
form .treeitem input:focus,
form .relational input:focus {
  border-color: #939393;
}
form .treeitem:focus button:after,
form .relational:focus button:after {
  background-image: url(icons/vi_actions_sprite.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: ' ';
  position: relative;
  float: right;
  margin-top: 3px;
  margin-left: 4px;
  margin-right: 7px;
  background-position: 0px -64px;
}
@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0;
  }
  form > div > label,
  legend {
    width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%;
  }
}
/* #vi_tooltip
================================================== */
.tooltip button[type="button"] {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 7px 1px 1px 2px;
  line-height: 0;
  font-size: .7em;
  border: 1px solid #00406d;
  background-color: #00406d;
  background: -moz-linear-gradient(top, #009de1, #00406d);
  /* Firefox */
  background: -webkit-gradient(linear, left top, left bottom, from(#009de1), to(#00406d));
  /* Safari, Chrome */
  color: transparent;
  letter-spacing: -1em;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  width: 21px;
  height: 20px;
  float: right;
  margin-right: 10px;
}
.tooltip button[type="button"]:before {
  background-image: url(icons/vi_actions_sprite_white.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: ' ';
  position: relative;
  float: left;
  margin-top: -7px;
  background-position: -16px -64px;
}
.tooltip button[type="button"]:hover {
  overflow: visible;
  min-width: 90px;
  letter-spacing: normal;
  color: #eee;
}
.tooltip span {
  display: block;
  height: 0px;
  width: 97%;
  min-height: 1px;
  border: 0;
  background: transparent;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  float: left;
  padding: 0 1%;
}
.tooltip.is_open span {
  min-height: 60px;
  background: #eee;
  font-size: 1em;
  color: #00406d;
  border: 1px solid #009de1;
  height: auto;
  position: relative;
  margin-top: 40px;
  padding: 15px 1% 18px;
}
.tooltip.is_open span:before {
  content: '';
  position: absolute;
  top: -48px;
  right: -1px;
  border-style: solid;
  border-width: 0px;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #009de1 rgba(255, 255, 255, 0);
}
.tooltip.is_open span:before {
  border-width: 24px 14px;
}
/* #vi_tables
================================================== */
table {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #cccccc;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
table.is_loading:after {
  background-image: url(icons/is_loading.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  content: ' ';
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  padding: 2px;
  display: block;
  left: 50%;
  margin-left: -8px;
  margin-top: 32px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
tbody tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
thead tr:first-child th:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  border-width: 0px 0px 1px 0px;
}
thead tr:first-child th:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
tbody tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
tr:nth-child(odd) {
  background-color: #fcfcfc;
}
tr:nth-child(even) {
  background-color: #f5f5f5;
}
td {
  vertical-align: middle;
  border: 1px solid #cccccc;
  border-width: 0px 1px 1px 0px;
  text-align: left;
  padding: 7px;
  font-weight: normal;
  color: #000000;
}
td img {
  max-height: 80px;
  width: auto;
  border: 1px solid #aaa;
  background: #fff;
}
td img ~ span {
  display: block;
  font-size: 0.7em;
  line-height: 1;
}
tr:last-child td {
  border-width: 0px 1px 0px 0px;
}
tr td:last-child {
  border-width: 0px 0px 1px 0px;
}
tr:last-child td:last-child {
  border-width: 0px 0px 0px 0px;
}
thead tr th {
  /*background:-o-linear-gradient(bottom, @lightcolor 5%, @maincolor 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, @lightcolor), color-stop(1, @maincolor) );
  background:-moz-linear-gradient( center top, @lightcolor 5%, @maincolor 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="@lightcolor", endColorstr="@maincolor");  background: -o-linear-gradient(top,@lightcolor,@maincolor);*/
  background-color: #be1622;
  border: 0px solid #cccccc;
  text-align: center;
  border-width: 0px 0px 1px 1px;
  font-weight: 300;
  color: #ffffff;
  padding: 5px 5px;
  font-size: .9em;
}
thead tr:hover th {
  background: -o-linear-gradient(bottom, #ff0000 5%, #be1622 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #be1622));
  background: -moz-linear-gradient(center top, #ff0000 5%, #be1622 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="@lightcolor", endColorstr="@maincolor");
  background: -o-linear-gradient(top, #ff0000, #be1622);
  background-color: #ff0000;
}
/* 
tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}

tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
} 
*/
tr.is_focused td {
  color: #fff;
  padding: 14px 7px;
}
tr.is_selected td,
tr.is_focused.is_selected td {
  color: #fff;
}
tr.is_selected td:first-child,
tr.is_focused.is_selected td:first-child {
  border-left: 3px solid #be1622;
  margin-left: -3px;
}
tr.is_selected td:last-child,
tr.is_focused.is_selected td:last-child {
  border-right: 3px solid #be1622;
  margin-right: -3px;
}
tr.is_selected:nth-child(odd) {
  background: rgba(250, 0, 0, 0.2);
}
tr.is_selected:nth-child(even) {
  background: rgba(250, 130, 130, 0.2);
}
tr.is_focused:nth-child(odd) {
  background: rgba(230, 0, 0, 0.7);
}
tr.is_focused:nth-child(even) {
  background: rgba(230, 15, 15, 0.7);
}
tr.is_focused.is_selected:nth-child(odd) {
  background: rgba(250, 0, 0, 0.5);
}
tr.is_focused.is_selected:nth-child(even) {
  background: rgba(250, 130, 130, 0.5);
}
td span.date {
  margin-right: 10px;
  font-weight: 600;
}
td span.time {
  font-weight: 100;
}
td span.index {
  font-style: italic;
  color: #ff0000;
}
.emptynotification {
  width: 20%;
  margin: 0 35% 55px;
  text-align: center;
  padding: 10px 5% 10px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 3px;
  color: #888;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.filterdescription {
  font-size: 0.8em;
  color: #aaa;
}
.issplitview > div {
  width: 65%;
  float: left;
}
.issplitview .emptynotification {
  width: 20%;
  margin: 0 18% 55px;
}
.issplitview .sidebarwidgets {
  margin-left: 2%;
  width: 30%;
  float: right;
  padding: 10px 1%;
  border-radius: 5px;
  background: #eee;
  border: 1px solid #ddd;
}
.issplitview .sidebarwidgets > div > button {
  width: 98%;
  margin: 0 1% 5px;
}
.issplitview .sidebarwidgets > div > button img {
  width: 16px;
  float: left;
  margin-top: -2px;
}
.issplitview .sidebarwidgets .extendedfilter button {
  float: right;
}
.issplitview .sidebarwidgets .extendedfilter span {
  margin-top: 5px;
  margin-left: 15px;
  display: inline-block;
}
.sidebarwidgets > ul > li {
  padding: 3px;
  border-bottom: 1px solid #ddd;
  font-size: 0.9em;
  color: #444;
}
.sidebarwidgets > ul > li dd img {
  width: 16px;
  margin-right: 10px;
}
.sidebarwidgets > ul > li dd ul {
  overflow: hidden;
  height: 25px;
}
.sidebarwidgets > ul > li dd ul li {
  float: right;
  margin-left: 10px;
}
.sidebarwidgets > ul > li dl {
  height: 23px;
}
.sidebarwidgets > ul > li dt {
  display: inline-block;
  max-width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #be1622;
  font-weight: 600;
}
.sidebarwidgets > ul > li dd {
  display: inline-block;
  float: right;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sidebarwidgets dd span.date {
  margin-right: 10px;
  font-weight: 600;
}
.sidebarwidgets dd span.time {
  font-weight: 100;
}
/* #vi_forest
================================================== */
.tree {
  width: 100%;
  /*min-height: 500px;*/
  /*margin-bottom: 250px;*/
}
.tree .treeitem {
  padding: 7px;
  line-height: 2em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tree .selectioncontainer {
  width: 100%;
  margin-bottom: 15px;
}
.tree.supports_upload .selectioncontainer {
  border: 3px dashed #ddd;
  background: #eee;
}
.tree .selectioncontainer:focus {
  border: inherit;
  outline: 0;
}
.tree .selectioncontainer .treeitem {
  margin-bottom: 1px;
  clear: both;
}
.tree .selectioncontainer .treeitem:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.85);
}
.tree .selectioncontainer .treeitem:nth-of-type(even) {
  background-color: rgba(250, 250, 250, 0.7);
}
.breadcrumb,
.imageeditor,
.linkeditor {
  width: 83%;
  font-weight: 600;
  min-width: 500px;
  border-top: 0;
  position: fixed;
  margin-left: -1%;
  padding: 3px 1% 0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #bbb;
  border-bottom: 1px solid #f3a1a1;
  background-color: #eee;
  background-color: rgba(180, 180, 180, 0.7);
  background-image: -webkit-gradient(linear, right top, right bottom, from(rgba(220, 220, 220, 0.7)), to(rgba(255, 255, 255, 0.4)));
  /* webkit */
  background-image: -moz-linear-gradient(top center, rgba(220, 220, 220, 0.2) 20%, rgba(255, 255, 255, 0.2) 95%);
  /* mozilla - FF3.6+ */
  margin-top: -47px;
  z-index: 10;
}
.has_multiple_children .breadcrumb,
.has_multiple_children .imageeditor,
.has_multiple_children .linkeditor {
  width: 41%;
}
.imageeditor,
.linkeditor {
  padding: 10px 1% 10px;
  z-index: 1000;
}
.breadcrumb .treeitem {
  float: left;
  cursor: pointer;
}
.breadcrumb .treeitem:first-of-type {
  padding-left: 0;
}
.breadcrumb .treeitem:hover {
  text-decoration: underline;
}
.breadcrumb .treeitem:after {
  content: ' ›';
}
.breadcrumb .treeitem:last-of-type:after {
  content: '';
}
.tree .treeitem:before {
  background-image: url(icons/vi_file_icons_sprite.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  content: ' ';
  position: relative;
  float: left;
  margin-top: 2px;
  margin-right: 4px;
  margin-left: 4px;
}
.tree .treeitem.node:before {
  background-position: -24px 0px;
  margin-right: 14px;
}
.tree .treeitem.node.is_rootnode:before {
  background-position: 0px 0px;
}
.tree .treeitem.file:before {
  background-position: -48px 0px;
}
.tree .treeitem.file.type_text:before {
  background-position: -72px 0px;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  -o-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}
.tree .treeitem.file.format_pdf:before {
  background-position: -96px 0px;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(240, 0, 0, 0.3));
  -moz-filter: drop-shadow(1px 1px 3px rgba(240, 0, 0, 0.3));
  -ms-filter: drop-shadow(1px 1px 3px rgba(240, 0, 0, 0.3));
  -o-filter: drop-shadow(1px 1px 3px rgba(240, 0, 0, 0.3));
  filter: drop-shadow(1px 1px 3px rgba(240, 0, 0, 0.3));
}
.tree .treeitem.file.format_zip:before {
  background-position: -120px 0px;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  -o-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}
.tree .treeitem.file.format_msword:before {
  background-position: -144px 0px;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 240, 0.3));
  -moz-filter: drop-shadow(1px 1px 3px rgba(0, 0, 240, 0.3));
  -ms-filter: drop-shadow(1px 1px 3px rgba(0, 0, 240, 0.3));
  -o-filter: drop-shadow(1px 1px 3px rgba(0, 0, 240, 0.3));
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 240, 0.3));
}
.tree .treeitem.type_image:before {
  width: 0;
  margin: 0;
}
.file img {
  float: left;
  margin-right: 10px;
  height: 32px;
  width: auto;
  max-width: 32px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.tree .selectioncontainer .treeitem.selected {
  background: rgba(250, 0, 0, 0.2);
  color: #fff;
  border-right: 3px solid #be1622;
  border-left: 3px solid #be1622;
  margin-right: -13px;
  margin-left: -3px;
}
.tree .selectioncontainer .treeitem.cursor {
  background: rgba(230, 0, 0, 0.7);
  color: #fff;
  padding: 14px 7px;
}
.tree.supports_upload .selectioncontainer:before,
.tree.supports_upload .selectioncontainer:after {
  content: 'Drag your files here.';
  background-image: url(icons/status/supports_upload.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  /* height:100px; */
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
  font-size: .8em;
  line-height: 7em;
  font-weight: 800;
  color: #777;
  /* text-shadow:0px -1px 1px rgba(0,0,0,0.5); */
  width: 97%;
  text-align: left;
  padding-left: 3%;
  float: right;
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: none;
  width: 100%;
  padding: 6px 7px 7px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 0px;
  background: #eee;
  font-size: 10px;
  text-align: center;
}
progress[value]::-moz-progress-bar,
progress[value]::-webkit-progress-bar {
  background-color: #eee;
}
progress[value]::-webkit-progress-value {
  position: relative;
  background-color: #298342;
  background: -moz-linear-gradient(top, #298342 0%, #479c42 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #298342), color-stop(100%, #479c42));
  background: -webkit-linear-gradient(top, #298342 0%, #479c42 100%);
  background: -o-linear-gradient(top, #298342 0%, #479c42 100%);
  background: -ms-linear-gradient(top, #298342 0%, #479c42 100%);
  background: linear-gradient(to bottom, #298342 0%, #479c42 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#298342', EndColorStr='#479c42', GradientType=0);
}
/* #vi_hierarchy
================================================== */
.hierarchy {
  min-width: 500px;
  margin-bottom: 250px;
}
.hierarchyitem {
  padding: 7px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 4px;
  background: #fcfcfc;
  border: 1px solid #ddd;
}
.hierarchyitem:first-of-type {
  margin: 0;
}
.hierarchyitem:nth-of-type(odd) {
  background: #ececec;
}
.hierarchyitem:nth-of-type(odd) ol .hierarchyitem:first-child {
  margin-top: 0;
}
.hierarchyitem:nth-of-type(odd) ol .hierarchyitem:nth-of-type(odd),
.hierarchyitem:nth-of-type(odd) ol .hierarchyitem:nth-of-type(even),
.hierarchyitem:nth-of-type(even) ol .hierarchyitem:nth-of-type(odd),
.hierarchyitem:nth-of-type(even) ol .hierarchyitem:nth-of-type(even) {
  background: transparent;
  border: 0;
}
.hierarchyitem.expaned ol ol {
  border-left: 2px dashed #ccc;
  border-bottom: 1px dashed #ddd;
}
.hierarchyitem.expaned.has_no_childs ol ol {
  border-bottom: 0;
}
.hierarchyitem.expaned ol {
  margin-top: 7px;
  /*border:1px solid #ddd;*/
  background: #e5e5e5;
}
.hierarchyitem.expaned ol li {
  padding-left: 35px;
}
.hierarchyitem a {
  color: transparent;
  letter-spacing: -1em;
  overflow: hidden;
}
.expaned > a:before,
.unexpaned > a:before {
  background-image: url(icons/vi_actions_sprite.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: ' ';
  position: relative;
  float: left;
  margin-top: 3px;
  margin-left: 4px;
  margin-right: 7px;
  background-position: 0px -64px;
}
.expaned > a:before {
  background-position: -16px -64px;
}
.has_no_childs > a:before {
  background-position: -32px -64px;
}
.hierarchyitem.is_focused,
.hierarchyitem ol .hierarchyitem.is_focused:nth-of-type(odd),
.hierarchyitem ol .hierarchyitem.is_focused:nth-of-type(even) {
  background: rgba(230, 0, 0, 0.7);
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.treeitem.insert_before,
.hierarchyitem.insert_before {
  border-top: 2px solid #be1622 !important;
}
.treeitem.insert_here,
.hierarchyitem.insert_here {
  border: 1px solid #be1622 !important;
  padding: 12px 7px !important;
}
.treeitem.insert_after,
.hierarchyitem.insert_after {
  border-bottom: 2px solid #be1622 !important;
}
/* #vi_popups and alerts
================================================== */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
}
.alertbox {
  width: 400px;
  height: auto;
  padding: 25px 25px 30px;
  background: #eee;
  margin: 10% auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  border-bottom: 1px solid #be1622;
  overflow: hidden;
}
.alertbox.task {
  width: 60%;
}
.alertbox.task .task-selector select {
  font-size: 14pt;
  padding: 5px;
  margin: 0;
  width: 100%;
  height: auto;
}
.alertbox.task .task-description {
  margin: 5px 0px;
  padding: 10px;
  border: 1px solid black;
}
.alertbox.task .warning {
  color: red;
  padding: 10px;
  border: 3px solid red;
}
.alertbox.browsersupport a:link {
  /* font-size:0.9em; */
  color: #be1622;
  text-decoration: underline;
}
.alertbox.browsersupport small {
  font-size: 0.7em;
  line-height: 0.9em;
  color: #777;
}
.alertbox span {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.alertbox span.title {
  margin-left: -25px;
  margin-top: -25px;
  padding: 7px 43px 8px 7px;
  font-size: .8em;
  line-height: .8em;
  background: #ddd;
  color: #777;
}
.alertbox input[type="checkbox"] {
  width: 15px;
}
.alertbox input[type="number"] {
  margin-bottom: 10px;
}
.alertbox label {
  float: right;
  width: 400px;
}
.alertbox label.headerlbl {
  float: left;
  font-size: 0.8em;
  margin-bottom: 10px;
}
.alertbox label.rowlbl,
.alertbox label.collbl {
  float: left;
  width: 120px;
  font-size: 0.8em;
  padding: 2px 7px;
  border: 1px solid #ccc;
  background: #fdfdfd;
  border-right-width: 0;
  margin-bottom: 10px;
}
.alertbox > button {
  float: right;
}
.alertbox.selectfields label {
  float: right;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.alertbox.selectfields ul {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 15px;
}
.alertbox.selectfields div.selectiontools {
  float: left;
}
/* #vi_badges
==================================================

.beta {
  background: url(icons/beta_small.png) no-repeat top right;
  padding-right: 35px;
}*/
/* #vi_messenger
================================================== */
.vi_messenger {
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: fixed;
  top: 100%;
  border-top: 2px solid #be1622;
  border-bottom: 1px solid #cccccc;
  background-color: #eee;
  background-color: rgba(238, 238, 238, 0.9);
  background-image: -webkit-gradient(linear, right bottom, right top, from(rgba(238, 238, 238, 0.9)), to(rgba(255, 255, 255, 0.2)));
  /* webkit example */
  background-image: -moz-linear-gradient(center bottom, rgba(238, 238, 238, 0.9) 20%, rgba(255, 255, 255, 0.2) 95%);
  /* mozilla example - FF3.6+ */
  padding: 15px 0;
  z-index: 10;
  margin-top: -30px;
  height: 300px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  overflow: visible;
}
.vi_messenger:hover {
  margin-top: -82px;
}
.vi_messenger.is_open {
  margin-top: -300px;
  overflow-y: scroll;
}
.vi_messenger button[type="button"] {
  height: 34px;
  margin-top: -17px;
  background: transparent;
  font-size: .8em;
  text-decoration: none;
  text-shadow: none;
  border: 0;
  border-right: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  border-top: 2px solid #be1622;
  padding: 6px 8px 80px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: transparent;
  letter-spacing: -1em;
  overflow: hidden;
  min-width: 32px;
  position: relative;
  display: block;
  float: left;
}
.vi_messenger.is_open button[type="button"] {
  position: fixed;
  padding-bottom: 7px;
}
.vi_messenger button[type="button"]:hover,
.vi_messenger:hover button[type="button"] {
  color: #999;
  text-shadow: 0px 1px 1px #fff;
  background-color: #fff;
  text-decoration: none;
  border-top: 2px solid #ff0000;
  overflow: visible;
  min-width: 130px;
  letter-spacing: normal;
}
.vi_messenger button[type="button"]:before {
  background-image: url(icons/vi_iconnav_sprite.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  content: ' ';
  position: relative;
  float: left;
  margin-top: -1px;
  margin-left: 7px;
  background-position: -160px 0px;
}
.vi_messenger.is_uploading button[type="button"] {
  background: rgba(255, 0, 0, 0.2);
  animation: uploading 5s linear 2s infinite alternate;
  -webkit-animation: uploading 5s linear 2s infinite alternate;
  /* Safari and Chrome: */
}
@keyframes uploading {
  0% {
    background: rgba(255, 0, 0, 0.1);
  }
  50% {
    background: rgba(255, 0, 0, 0.3);
  }
  100% {
    background: rgba(255, 0, 0, 0.1);
  }
}
@-webkit-keyframes uploading {
  /* Safari and Chrome */
  0% {
    background: rgba(255, 0, 0, 0.1);
  }
  50% {
    background: rgba(255, 0, 0, 0.3);
  }
  100% {
    background: rgba(255, 0, 0, 0.1);
  }
}
.vi_messenger.is_uploading button[type="button"]:hover,
.vi_messenger.is_uploading:hover button[type="button"] {
  color: #fff;
  text-shadow: none;
}
.vi_messenger.is_uploading button[type="button"]:before {
  background-image: url(icons/is_uploading.gif);
  background-position: 0px 0px;
}
.vi_messenger.is_open button[type="button"]:before {
  background-position: -192px 0px;
}
.statuslist {
  width: 500px;
  margin: 0 auto;
  padding: 0 0 30px;
}
.statuslist li {
  padding: 14px;
  border-width: 1px;
  border-style: solid;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  width: 472px;
  margin: 0 auto 15px;
  background: #f9f9f9;
  color: #777;
}
.statuslist li.log_success {
  border-color: #22612b;
}
.statuslist li.log_error {
  border-color: #6f6f6f;
}
.statuslist li.log_warning {
  border-color: #890f01;
}
.statuslist li.log_info {
  border-color: #00416e;
}
.statuslist li.log_progress {
  border-color: #00416e;
}
.statuslist li.log_progress progress[value] {
  width: 77%;
  margin-top: -5px;
}
.statuslist li.log_progress {
  padding-bottom: 6px;
}
.statuslist li.log_progress.is_new {
  padding-bottom: 12px;
}
.statuslist li span {
  margin-right: 5px;
}
.statuslist li span.msg {
  margin-right: 55px;
  margin-left: 52px;
  display: block;
}
.statuslist li .modulspan:after {
  content: ':';
}
.statuslist li .date {
  display: block;
  float: right;
  font-size: .7em;
  font-weight: 100;
  color: #888;
}
.statuslist li:before {
  content: '';
  padding: 9px;
  width: 32px;
  height: 32px;
  display: block;
  margin-left: -15px;
  margin-top: -15px;
  margin-right: 15px;
  border-width: 1px;
  border-style: solid;
  float: left;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background-image: url(icons/vi_message_icons_sprite_white.svg);
  background-repeat: no-repeat;
  background-position: -7px center;
}
.statuslist li.log_success:before {
  border-color: #22612b;
  background-color: #469b41;
  background-position: -7px center;
}
.statuslist li.log_error:before {
  border-color: #6f6f6f;
  background-color: #333;
  background-position: -263px center;
}
.statuslist li.log_warning:before {
  border-color: #890f01;
  background-color: #e20613;
  background-position: -199px center;
}
.statuslist li.log_info:before {
  border-color: #00416e;
  background-color: #009ee2;
  background-position: -71px center;
}
.statuslist li.log_progress:before {
  border-color: #00416e;
  background-color: #009ee2;
  background-position: -135px center;
}
.statuslist li.is_new {
  position: fixed;
  padding: 20px;
  width: 500px;
  margin-top: -110px;
  bottom: 55px;
  margin-left: -15px;
  margin-right: -15px;
  background: #fff;
  color: #444;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}
.statuslist li.is_new:before {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: -21px;
  margin-top: -21px;
  margin-bottom: -21px;
}
.vi_messenger.is_open .statuslist li.is_new {
  position: relative;
  padding: 20px;
  width: 500px;
  margin-top: 10px;
  bottom: 10px;
  margin-left: -15px;
  margin-right: -15px;
  background: #fff;
  color: #444;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.vi_messenger .versiondiv {
  font-size: .7em;
  color: #777;
  float: right;
  padding: 2px 1%;
  margin-bottom: 50px;
  border-top: 1px dotted #ccc;
}
.vi_messenger .versiondiv span {
  display: block;
}
/* #States
================================================== */
:focus {
  outline: 1px dotted #ccc;
}
/*.is_active {
  background-color: @maincolor;
}*/
/*.is_active {
  background-color: @maincolor;
}*/
input:disabled,
input[type="submit"]:disabled,
button:disabled,
input[type="text"]:disabled,
select:disabled,
textarea:disabled {
  color: #222;
  background: #e0e0e0;
  border: 1px solid #ccc;
}
/* #Custom Styles
================================================== */
/* @import "vi_custom.less";*/
/* #Media Queries
================================================== */
/* Smaller than 1441px (devices and browsers) */
@media only screen and (max-width: 1440px) {
  .modullist h3 {
    font-size: 0.8em;
  }
  .has_multiple_children .vi_operator {
    width: 20%;
  }
  .has_multiple_children .vi_operator:nth-of-type(even) {
    width: 60%;
  }
  .has_multiple_children .actionbar,
  .has_multiple_children .breadcrumb,
  .has_multiple_children .imageeditor,
  .has_multiple_children .linkeditor {
    width: 20%;
  }
  .has_multiple_children .vi_operator:nth-of-type(even) .actionbar,
  .has_multiple_children .vi_operator:nth-of-type(even) .breadcrumb,
  .has_multiple_children .vi_operator:nth-of-type(even) .imageeditor,
  .has_multiple_children .vi_operator:nth-of-type(even) .linkeditor {
    width: 60%;
  }
  .has_multiple_children form label,
  .has_multiple_children form label.text {
    border: 1px dotted #ddd;
    text-align: left;
    width: 93%;
    padding: 4px 3% 6px;
  }
  .selectioncontainer label {
    border: 1px solid #ccc;
    width: 193px;
  }
  .has_multiple_children form fieldset legend {
    min-width: 0;
  }
  .has_multiple_children form fieldset legend a {
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .has_multiple_children form fieldset section > div {
    padding-bottom: 0;
  }
  .has_multiple_children form fieldset input:disabled,
  .has_multiple_children form fieldset .preview.is_disabled,
  .has_multiple_children form fieldset input[type="submit"]:disabled,
  .has_multiple_children form fieldset button:disabled,
  .has_multiple_children form fieldset input[type="text"]:disabled,
  .has_multiple_children form fieldset select:disabled,
  .has_multiple_children form fieldset textarea:disabled {
    display: none;
  }
  .has_multiple_children form fieldset .file .fileentry label {
    width: 154px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    border-top-width: 0;
    margin-bottom: 0;
  }
  .has_multiple_children form fieldset .file .fileentry img {
    border-top-width: 0;
  }
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  .vi_manager {
    width: 56px;
    border-right: 1px solid #bbb;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .vi_manager:hover {
    width: 298px;
    border-right: 1px solid #bbb;
  }
  .modullist {
    width: 298px;
  }
  .modullist ul {
    display: none;
  }
  .vi_manager:hover .modullist ul {
    display: block;
  }
  .vi_viewer {
    max-width: 900px;
    margin-left: 56px;
  }
  .has_multiple_children .actionbar,
  .has_multiple_children .breadcrumb,
  .has_multiple_children .imageeditor,
  .has_multiple_children .linkeditor,
  .has_multiple_children .vi_operator {
    width: 20%;
    max-width: 210px;
  }
  .has_multiple_children .vi_operator:nth-of-type(even) .actionbar,
  .has_multiple_children .vi_operator:nth-of-type(even) .breadcrumb,
  .has_multiple_children .vi_operator:nth-of-type(even) .imageeditor,
  .has_multiple_children .vi_operator:nth-of-type(even) .linkeditor,
  .has_multiple_children .vi_operator:nth-of-type(even) {
    width: 70%;
    max-width: 750px;
  }
  .vi_operator .actionbar h3 {
    display: none;
  }
  .vi_topbar .currentmodul {
    display: none;
  }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
