##if not publiccachetime
	##set publiccachetime=30
##endif
##set request=requestParams()
##if request.embed=="1"
##else
		##extends "index.html"
##endif

##block keywords
##endblock
##block metadescr
##endblock

##macro ansprechbox(a)

<div class="ansprechpartner vcard br-{{a.groups}}" id="{{a.firstname}}{{a.name}}">

    <div style="min-height: 100px; float: left;">
		##if a.image
    <img class="photo" alt="Profilbild" src="{{a.image.servingurl}}=s120" />
		##else
    <img class="photo" alt="Profilbild" src="/static/images/user.png" />
		##endif
</div>
    <ul>
        <li><h3 class="fn">{{a.firstname}} {{a.name}}</h3></li>
        <li class="role">{{a.function2}}</li><br />
        <!--<li>F&auml;cher</li>-->
        <li class="email"><a href="mailto:{{a.email}}">{{a.email}}</a></li>
        <li class="tel">{{a.tel}}</li>
    </ul>
    <div class="clear">&nbsp;</div>
</div>


##endmacro


##block content
 <div class="column03 three-column-txt">
                    <h1>Ansprechpartner</h1>
                   </div>
<div style="width: 700px; margin-left:60px; float:right; min-height:700px; ">
    <div class="headline-2"  style="width: 695px;">
       	<h2>
        ##if request.function
        ##else
        ##if request.groups
        ##if request.groups == "menschen"
        Menschen
        ##elif request.groups == "ziele"
        Ziele
        ##elif request.groups == "unterricht"
        Unterricht
        ##elif request.groups == "aktivitaet"
        Aktivitäten
        ##endif
        ##else
        Alle Ansprechpartner
        ##endif
        ##endif
		

        ##if request.groups
        ##else
        ##if request.function
        ##if request.function == "leitung"
        Schulleitung/Organisation
        ##elif request.function == "abteilung"
        Abteilungsleitung
        ##elif request.function == "beratung"
        Beratungslehrer*in
        ##elif request.function == "sozial"
        Sozialarbeiter*in
        ##elif request.function == "vertretung"
        Schülervertretung
        ##elif request.function == "verwaltung"
        Verwaltung
		##elif request.function == "svlehrer"
        SV-Lehrer
		##elif request.function == "koordinatoren"
        Koordinator*innen
		##elif request.function == "Schulkonferenz"
        Schulkonferenz
		##elif request.function == "Schulpflegschaft"
        Schulpflegschaft
        ##endif
        ##else
        ##endif
        ##endif
		</h2>
    </div>
			##for art in skellist
				{{ansprechbox(art)}}
			##endfor
			<a href="/ansprechpartner/list?orderby=name&orderdir=0&name$lt=d&amount=49">A-C</a> |
			<a href="/ansprechpartner/list?orderby=name&orderdir=0&name$gt=d&name$lt=g&amount=49">D-F</a> |
			<a href="/ansprechpartner/list?orderby=name&orderdir=0&name$gt=g&name$lt=j&amount=49">G-I</a> |
			<a href="/ansprechpartner/list?orderby=name&orderdir=0&name$gt=j&name$lt=m&amount=49">J-L</a> |
			<a href="/ansprechpartner/list?orderby=name&orderdir=0&name$gt=m&name$lt=p&amount=49">M-O</a> |
			<a href="/ansprechpartner/list?orderby=name&orderdir=0&name$gt=p&name$lt=s&amount=49">P-R</a> |
			<a href="/ansprechpartner/list?orderby=name&orderdir=0&name$gt=s&name$lt=v&amount=49">S-U</a> |
			<a href="/ansprechpartner/list?orderby=name&orderdir=0&name$gt=v&&amount=49">V-Z</a> |
</div>



<div style="float:left" >

    <div class="headline" ><h2>Funktionen</h2></div><!-- headline -->

    <div style="margin-bottom: 5px; border-left: 15px solid #0093d5; 5px; width: 200px; position: relative; background-color: #b6cbd7; height: auto; padding: 10px; font-weight: 600;">
        <p><a href="/ansprechpartner/list?&function=leitung">Schulleitung/Organisation</a></p>
    </div>
    <div style="margin-bottom: 5px; border-left: 15px solid #0093d5; 5px; width: 200px; position: relative; background-color: #b6cbd7; height: auto; padding: 10px; font-weight: 600;">
        <p><a href="/ansprechpartner/list?&function=abteilung">Abteilungsleitung</a></p>
    </div>
    <div style="margin-bottom: 5px; border-left: 15px solid #0093d5; 5px; width: 200px; position: relative; background-color: #b6cbd7; height: auto; padding: 10px; font-weight: 600;">
        <p><a href="/ansprechpartner/list?&function=beratung">Beratungslehrer*in</a></p>
    </div>
	<div style="margin-bottom: 5px; border-left: 15px solid #0093d5; 5px; width: 200px; position: relative; background-color: #b6cbd7; height: auto; padding: 10px; font-weight: 600;">
        <p><a href="/ansprechpartner/list?&function=vertretung">Schülervertretung</a></p>
    </div>
    <div style="margin-bottom: 5px; border-left: 15px solid #0093d5; 5px; width: 200px; position: relative; background-color: #b6cbd7; height: auto; padding: 10px; font-weight: 600;">
        <p><a href="/ansprechpartner/list?&function=sozial">Sozialarbeiter*in</a></p>
    </div>
    <div style="margin-bottom: 5px; border-left: 15px solid #0093d5; 5px; width: 200px; position: relative; background-color: #b6cbd7; height: auto; padding: 10px; font-weight: 600;">
        <p><a href="/ansprechpartner/list?&function=svlehrer">SV-Lehrer</a></p>
    </div>
	<div style="margin-bottom: 5px; border-left: 15px solid #0093d5; 5px; width: 200px; position: relative; background-color: #b6cbd7; height: auto; padding: 10px; font-weight: 600;">
        <p><a href="/ansprechpartner/list?&function=koordinatoren">Koordinator*innen</a></p>
    </div>
	<div style="margin-bottom: 5px; border-left: 15px solid #0093d5; 5px; width: 200px; position: relative; background-color: #b6cbd7; height: auto; padding: 10px; font-weight: 600;">
        <p><a href="/ansprechpartner/list?&function=Schulkonferenz">Schulkonferenz</a></p>
    </div>
	<div style="margin-bottom: 5px; border-left: 15px solid #0093d5; 5px; width: 200px; position: relative; background-color: #b6cbd7; height: auto; padding: 10px; font-weight: 600;">
        <p><a href="/ansprechpartner/list?&function=Schulpflegschaft">Schulpflegschaft</a></p>
    </div>
</div>

<div style="float:left" >

    <div class="headline" ><h2>Gruppen von Ansprechpartnern</h2></div><!-- headline -->

    <div style="margin-bottom: 5px; border-left: 15px solid #0093d5; 5px; width: 200px; position: relative; background-color: #b6cbd7; height: auto; padding: 10px; font-weight: 600;">
        <p><a href="/ansprechpartner/list?&groups=menschen">Menschen</a></p>
    </div>
    <div style="margin-bottom: 5px; border-left: 15px solid #0093d5; 5px; width: 200px; position: relative; background-color: #b6cbd7; height: auto; padding: 10px; font-weight: 600;">
        <p><a href="/ansprechpartner/list?&groups=ziele">Ziele</a></p>
    </div>
    <div style="margin-bottom: 5px; border-left: 15px solid #0093d5; 5px; width: 200px; position: relative; background-color: #b6cbd7; height: auto; padding: 10px; font-weight: 600;">
        <p><a href="/ansprechpartner/list?&groups=unterricht">Unterricht</a></p>
    </div>
    <div style="margin-bottom: 5px; border-left: 15px solid #0093d5; 5px; width: 200px; position: relative; background-color: #b6cbd7; height: auto; padding: 10px; font-weight: 600;">
        <p><a href="/ansprechpartner/list?&groups=aktivitaet">Aktivitäten</a></p>
    </div>
</div>	
##endblock

