##if not publiccachetime
	##set publiccachetime=30
##endif
##set request=requestParams()
##if request.embed=="1"
##else
		##extends "index.html"
##endif

##block keywords
##endblock
##block metadescr
##endblock


## block content

<div class="trenner"></div>
	
		<h1>Ansprechpartner</h1>
			
			<div class="text-artikel">
				
			<img src="{{skel.image.servingurl}}" /> 
				<h2>{{skel.firstname}} {{skel.name}}</h2>
				##if skel.function2
					{{skel.function2}}<br />
				##endif
				{{skel.email}}<br />
				{{skel.tel}}<br />
				##if skel.classes
				{% for class in skel.classes %}
					{{class.name}}<br />
				{% endfor %}
				##endif
				</div>
		
		<div class="clear">&nbsp;</div>
		<div class="trenner"></div>



##endblock

