##if not publiccachetime
	##set publiccachetime=30
##endif
##set request=requestParams()
##if request.embed=="1"
##else
		##extends "index.html"
##endif

##block keywords
##endblock
##block metadescr
##endblock


##macro articlebox(skel)
##set request=requestParams()
<div class="link {% if request.groups %}br-{{request.groups}}{% else %}link-news{% endif %}" style="margin-bottom: 0px;">
    <a href="/artikel/view/{{skel.id|shortKey}}?{%if request and request.groups %}groups={{request.groups}}{% endif %}">{{skel.name}}</a>
</div>
## if skel.smallimage or skel.image
<a href="/artikel/view/{{skel.id|shortKey}}?{%if request and request.groups %}groups={{request.groups}}{% endif %}"><img 
                                                                                                                ##if skel.smallimage
                                                                                                                src="{{skel.smallimage.servingurl}}=s240" alt="{{skel.smallimage.name}}"
                                                                                                                ##else
																													##if skel.image
                                                                                                                src="{{skel.image.servingurl}}=s240-c" alt="{{skel.image.name}}"
																													##endif
                                                                                                                ##endif
                                                                                                                width="235" /></a>
## endif
<div class="link-teaser">
	##if not skel.image
	<br />
	##endif
    <a href="/artikel/view/{{skel.id|shortKey}}?{%if request and request.groups %}groups={{request.groups}}{% endif %}">{{skel.teaser}}</a>
</div><!-- headline -->



##endmacro

 <div class="headerwrap headerimg">

                <div class="logo">
                    <a href="#"><img src="/static/images/testheader.jpg" width="125" title="Wilhelm-D&ouml;rpfeld-Gymnasium Wuppertal" alt="Wilhelm-D&ouml;rpfeld-Gymnasium Wuppertal"></a>
                </div>
                <div class="zitat">
                    »Nur wer sich Gedanken macht<br />kommt zu einer guten Lösung.«
                    <div class="zitat-author">— Boris Teskow</div>
                </div>
                <div class="picto"><a href="#"><img src="/static/images/pictogramm.png" width="25" title="Pictogramm" alt=""></a></div>
</div>

##block content 

## if request.embed=="1"
	## set tmpList = []
	## set seenList = []
	## for skel in skellist
		## if not skel.id in seenList and skel.id!= request.extid
			## set unused = seenList.append( skel.id )
			## set unused = tmpList.append( skel )
		## endif
	## endfor 
## else
	## set tmpList = skellist
##endif
<div id="eine-spalten">
									##for skel in tmpList
									##if loop.index%3==1
										{{articlebox(skel)}}
									##endif
									##endfor
</div><!-- eine-spalten -->
<div id="eine-spalten">
									##for skel in tmpList
									##if loop.index%3==2
										{{articlebox(skel)}}
									##endif
									##endfor
</div><!-- eine-spalten -->
<div id="eine-spalten">
									##for skel in tmpList
									##if loop.index%3==0
										{{articlebox(skel)}}
									##endif
									##endfor
</div><!-- eine-spalten -->



##endblock
