##extends "index.html"
##block metadescr
{{skel.teaser}}
##endblock


##block header
            <div class="headerwrap" 
            ##if skel and skel.image
            	style="background-image: url({{skel.image.servingurl}}=s1000); background-repeat:no-repeat; background-position: {{skel.position}}; background-size:cover;"
            ##endif
            >

                <div class="logo">
                    <a href="/"><img src="/static/images/logo-wdg.png" width="125" title="Wilhelm-D&ouml;rpfeld-Gymnasium Wuppertal" alt="Wilhelm-D&ouml;rpfeld-Gymnasium Wuppertal"></a>
                    
                    ##if skel and skel.classes
	    	            ##for class in skel.classes
	                	##set c=getEntry("fach",id=class.id)
	                		<div class="picto">
							
	                		{% if c.navkey %}<a href="/navigation/view/{{c.navkey.id}}/{{c.navkey.name}}" title="Fach: {{c.name}}">{% endif %}<img src="/file/view/{{c.icon.dlkey}}" alt="{{c.icon.name}}" />{% if c.navkey %}</a>{% endif %}
	                		
							</div>
	                	##endfor
                 
                    ##endif
                    
                </div>
          
				##if skel.quotename
                <div class="zitat"> 
                      
                    ##if skel.quoteauthornotes   
                	<div class="tip" id="quoteauthortooltip" style="display: none">
                	    ##if skel.quoteimage
                	    <img src="{{skel.quoteimage.servingurl}}=s72-c" />
                	    ##endif
                	    <h4>{{skel.quoteauthornotes|striptags|replace("\n","<br />")|truncate(length=200, killwords=False, end='&hellip;')}}</h4>
                	    <div class="clear"></div>
                	</div>  
                	##endif
                	 
                	##if skel.quotename|string           	 
                    <p id="quotetext">»{{skel.quotename}}«
                    <br>— <span class="autor" title="{{skel.quoteauthornotes}}" 
                        ##if skel.quoteauthorurl
                            onclick="openwindow('{{skel.quoteauthorurl}}',800,600)"
                        ##endif
                        >
                           
                         {{skel.quoteauthorname}}</span></p>
                    ##endif
                </div>
                
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#quotetext').mouseenter(function() {
                            $('#quoteauthortooltip').fadeIn('slow');
                        });
                        $('#quotetext').mouseleave(function() {
                            $('#quoteauthortooltip').fadeOut('slow');
                        });                        
                    });
                </script>
                
                
                ##endif
                
                
                
            </div>
##endblock


##block content
{% set path = execRequest("navigation/getAvailableRootNodes" ) %}
## set navlist = getList("navigation", parententry=path[0]["key"], amount="4",orderby="creationdate", active="1")
##for nav in navlist
  <div class="column01 one-column-02">
                <h3><a href="/navigation/view/{{nav.id|shortKey}}/{{nav.name}}">{{nav.name}}</a></h3>
            </div>
##endfor

<div class="column04 four-column-txt article-view">
                    <h1>{{skel.name}}</h1>

		{{skel.teaser}}

                </div>

<div class="spalte-three">               

                <div class="column03 three-column-01" style=" margin-top: 10px; border: none;">
			
			##if skel.video
           		<iframe src="{{skel.video}}" width="749" height="450"></iframe>
 			##endif
                    <div class="three-article">
 
			{{skel.descr}}
					</div>
                </div>

                        ##if skel.images
                        <script type="text/javascript">
                        	function openfancybyid(i) {                        	
                	            fancyboxoptions["index"]=i;
                                $.fancybox([
                                    ##for image in skel.images
                                    {
                                        'href'	: '/file/download/{{image.dlkey}}/{{image.name}}',
                                        'title'	: '{{image.name|replace(".jpg","")|replace(".JPG","")|replace(".png","")|replace(".PNG","")}}'

                                    }
                                    ##if not loop.last
                                    ,
                                    ##endif

                                    ##endfor
                                ],fancyboxoptions);
                        	}                        

                            $(document).ready(function() {
                                $('#fancybox_artikel img').each(function (i) {
                                    $(this).click(function() {
                                    	openfancybyid(i);                           
                                    });
                                });
                            });
                        </script>
                        
                        <a href="javascript:void(0);" >
                            ##for image in skel.images
                            <div class="column01 galerie" id="fancybox_artikel">
			                    <a href="#"><img src="{{image.servingurl}}" alt=""></a>
			                </div>
         
                            ## if loop.index==3
                            ##break
                            ##endif
                            ##endfor
                        </a>
               <div class="column03">
                    <a href="javascript:void(0); return false" onclick="openfancybyid(0)" class="arrow-down-gal"><img src="/static/images/arrow-right-white.png" width="12" alt=""></a>
                </div>
                        ##endif

            </div>


            <div class="column01 one-column-02 marginal">

					##if skel.ansprechpartner
                    <h3>Redaktionsteam</h3>

                    <div class="navcontainer">
                        <ul class="redaktion">
                        	##for partner in skel.ansprechpartner
                            <li>
                                <span style="overflow: hidden">
                                	 ##set image=getEntry(modul="ansprechpartner", skel="viewSkel", id=partner.id)
                                    <a href="/ansprechpartner/view/{{partner.id}}/{{partner.name}}"><img src="{{image.image.servingurl}}" alt="">
                                    	
                                        <h2>{{partner.firstname}} {{partner.name}}</h2>
                                        <p>{{partner.email}}<br>
                                            {{partner.tel}}</p></a>
                                </span>
                            </li>
                            ##endfor
                         
                        </ul>
                    </div>
                    <a href="/ansprechpartner/list/" class="arrow-down"><img src="/static/images/arrow-right-white.png" width="12" alt=""></a>
					##endif
					
                    <h3>Information</h3>

                    <div class="navcontainer">
                        <ul class="redaktion">
                            
                            ##if skel.creationdate
                            <li>
                                <strong>Erstellt am</strong> - {{skel.creationdate.strftime("%d.%m.%Y")}}
                            </li>
                            ##endif
                            
                            ##if skel.changedate
                            <li>
                                <strong>Zuletzt bearbeitet</strong> - {{skel.changedate.strftime("%d.%m.%Y - %H:%M")}}
                            </li>
                            ##endif
                            
                            ##if skel.classes
                            <li>
                                <strong>Fächer</strong>
                                <ul class="faecher">
                                	##for class in skel.classes
                                	##set c=getEntry("fach",id=class.id)
                                	<li>
                                		<a href="/navigation/view/{{c.navkey.id}}/{{c.navkey.name}}">
                                		##if c.icon
                                		<img src="/file/view/{{c.icon.dlkey}}">   
                                		##endif                 		
                                		<span>{{c.name}}</span></a>
                                	</li>
                                	##endfor
                                </ul>
                            </li>
                            ##endif
                            
                            ##if skel.files
                            <li>
                            	<strong>Downloads</strong>
                            	##for download in skel.files
                            		<a href="/file/view/{{download.dlkey}}/{{download.name}}?download=1" target="blank">{{download.name}}</a>
                            	##endfor
                            </li>
                            ##endif
                        </ul>
                    </div>
                    
             ##if skel.navkey
             	<h3>Verlinkte Navigationsknoten</h3>
             	<div class="navcontainer">
	             	<ul>
		             	##for navlist in skel.navkey
		             		<li><a href="/navigation/view/{{navlist.id}}/{{navlist.name}}"><strong>{{navlist.name}}</strong></a></li>
		             	##endfor	
	             	</ul>
             	</div>
                ##set navlist = getList("navigation", amount="15",orderby="creationdate", parententry=skel.navkey[0].id, active="1" )
		
				##if navlist|length>1

                    <h3>Mehr aus den Bereichen</h3>
                    
			
					 
                    <div class="navcontainer">
                        <ul class="redaktion">
							##for subnav in navlist 
                            <li>
                            
                                <a href="/navigation/view/{{subnav.id}}/{{subnav.name}}"><strong>{{subnav.name}}</strong></a>
                            </li>
							##endfor                           
                        </ul>
                    </div>
		
                ##endif          
			##endif                
                ##if skel.moreartikel

                    <h3>Ähnliche Artikel</h3>

                <div class="navcontainer">
                    <ul class="bild-text">
                    	##for more in skel.moreartikel
                        <li>
                            <span style="overflow: hidden">
                            	<a href="/artikel/view/{{more.id|shortKey}}/{{more.name}}">

                            		##set image=getEntry(modul="artikel", skel="viewSkel", id=more.id)
                              		<img src="{{image.image.servingurl}}=s75-c" alt="">
                                    <h2>{{more.name}}</h2>
                                    {{more.teaser|truncate(length=150, killwords=False, end='&hellip;')}}</a>
							</span>
                        </li>
                       ##endfor
                    </ul>
                </div>
                <a href="#" class="arrow-down"><img src="/static/images/arrow-right-white.png" width="12" alt=""></a>
             ##endif   
            </div>
##endblock