##set title='advertisement'
{% extends "index.html" %}

{% from "dynaform.macro" import render_dynaform %}

{% block content %}
<div class="container">
	<div class="content">
		<p>Haben Sie vielen Dank. Wir werden uns in Kürze mit Ihnen in Verbindung setzen.</p>


	</div><!--content-->


</div><!--container-->
{% endblock %}
