{% extends "index.html" %}

{% from "dynaform.macro" import render_dynaform %}

{% block content %}

<div class="container">
<div class="column03 three-column-txt">
<h1>Kontaktformular</h1>
<h2>Wir freuen uns von Ihnen zu h&ouml;ren!</h2>
</div>
					<form action="/contact/add" method="POST" class="contactform">
						<table border="0">
							{{ render_dynaform( skel ) }}
						</table>
						<input type="submit" class="submit" />
					</form>
<p class="contactform">* mit einem Stern markierte Felder sind Pflichtfelder</p>					
</div><!--container-->

{% endblock %}
