##extends "index.html"


##block content
{% set path = execRequest("navigation/getAvailableRootNodes" ) %}
## set navlist = getList("navigation", parententry=path[0]["key"], amount="4",orderby="creationdate",active="1" )
##for nav in navlist
  <div class="column01 one-column-02">
                <h3><a href="/navigation/view/{{nav.id|shortKey}}/{{nav.name}}">{{nav.name}}</a></h3>
            </div>
##endfor

<div class="trenner"  ></div>
			<div class="headline-2 {% if groups %}bg-{{groups}}{% endif %}" style=" height: auto; padding: 10px; width: 935px; margin-bottom: 5px;" >Impressum / Disclaimer</div>	
   <div class="clear"></div>
   <div style="position: relative; background-color: #E6E6E6; height: auto; padding: 10px; width: 980px; margin-bottom: 5px;">




<div style="width: 475px;">
	{{skel.inhalt}}		
			
			
            <div class="clear"></div>
<br> <br>

<style type="text/css">
						.mb_imprint.compact {
							width:250px;
							padding: 12px 0 0 12px;
							/*background:#f1f1f1;*/
							border-top:1px solid #ccc;
							border-bottom:1px solid #ccc;
							color:#222;
							font-size:.8em;
							line-height:16px;
							font-weight:lighter;
							font-family: Helvetica, Arial, sans-serif;
							/*box-shadow:1px 1px 4px #ddd;*/
						}

						.mb_imprint.compact h3 {
							font-weight:lighter;
							font-size:.8em;
							margin:0 0 12px;
						}

						.mb_imprint dt {
							float:left;
							margin:0 12px 6px 0;
						}

						.mb_imprint dd {
							margin:0 12px 12px 0;
						}

						.mb_imprint a, .mb_imprint a:link, .mb_imprint a:visited {
							color:#CC0000;
							text-decoration:underline;
						}

						.mb_imprint a:hover, .mb_imprint a:active {
							color:#FF0000;
							text-decoration:underline;
						}

						.mb_imprint img{
							box-shadow:1px 1px 2px #aaa;
						}
					</style>
					
<dl id="mb_imprint" class="mb_imprint compact">
					<h3>Grafische und technische Umsetzung:</h3>
						<dt><a href="http://www.mausbrand.de"><img src="/static/meta/mausbrand_micro.gif" alt="Mausbrand Informationssysteme GmbH" title="Mausbrand Informationssysteme GmbH"/></a></dt>
						<dd><h3><a href="http://www.mausbrand.de/Informationssysteme/Projektmanagement">Mausbrand GmbH</a></h3></dd>

						<dt><a href="http://www.ViUR.is"><img src="/static/meta/viur_micro.gif" alt="ViUR Informationssystem" title="ViUR Informationssystem"/></a></dt>
						<dd><h3><a href="http://www.ViUR.is">ViUR Informationssystem</a></h3></dd>
					</dl>


        </div><!-- content_inhalt -->
</div>
##endblock