<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
##set publiccachetime=0

<html xmlns="http://www.w3.org/1999/xhtml">
   <head>

        <!-- Herzlich willkommen bei-->
        <title>Wilhelm-D&ouml;rpfeld-Gymnasium Wuppertal</title>

        <!-- meta -->
        <meta name="author" content="WDG" />
        <meta name="description" content="Wilhelm-Dörpfeld-Gymnasiums Wuppertal mit aktuellen Terminen und Informationen" />
        <meta name="keywords" content="WDG, Wilhelm-Dörpfeld-Gymnasium, Wuppertal, Aktuelles, Schule, Menschen, Projekte, Kontakte" />
        <meta name="robots" content="index, follow, noarchive" />

        <!-- Diese Webseite ist ein Viur Informationssystem. -->
        <meta name="generator" content="ViUR.is" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- Mit Liebe hergestellt von Mausbrand. -->
        <!-- www.mausbrand.de -->      
        <link type="text/plain" rel="author" href="/static/meta/humans.txt" />

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=1100, maximum-scale=1.0" />

        <!-- iPhone -->
        <link href="/static/meta/wdg-57x57.png" sizes="57x57" rel="apple-touch-icon-precomposed" />
        <!-- iPhone (Retina) -->
        <link href="/static/meta/wdg-114x114.png" sizes="114x114" rel="apple-touch-icon-precomposed" />
        <!-- iPad -->
        <link href="/static/meta/wdg-72x72.png" sizes="72x72" rel="apple-touch-icon-precomposed" />
        <!-- iPad (Retina) -->
        <link href="/static/meta/wdg-144x144.png" sizes="144x144" rel="apple-touch-icon-precomposed" />

		<link href="/static/lib/jquery/css/smoothness/jquery-ui-1.10.3.custom.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
		<script src="/static/lib/jquery/js/jquery-1.9.1.js"></script>
		<script src="/static/lib/jquery/js/jquery-ui-1.10.3.custom.js"></script>
        <script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.3.4.js"></script>
		<script src="/static/js/app.js"></script>

		<script type="text/javascript">
			
			            var fancyboxoptions={
                'type' : 'image',
                'transitionIn'		: 'elastic',
                'transitionOut'		: 'elastic',
                'titlePosition' 	: 'inside',
                'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">Bild ' + (currentIndex + 1) + ' von ' + currentArray.length + '</span>';
                }
            }
			
		</script>


        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>

        <!-- css -->
        <link rel="stylesheet" href="/static/css/style.css">

        <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->    
	
	##block additionalhead	
	##endblock
	
    </head>
    
<body>


        <div class="mainwrapper">
            <div class="topnav">
                <ul><li><a href="/neuigkeit/list?orderby=creationdate&orderdir=1&showuntil$gt=now">News</a></li>
                    <li><a href="https://sites.google.com/a/wdg.de/start/">Login</a></li>
                    <li><a href="/termin/{{ execRequest ("termin/getCurrentYear")-1 }}#m{{ execRequest ("termin/getCurrentMonth")-1 }}">Kalender</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                    <li><a href="/s/searchresults">Suche</a></li>
                </ul>
            </div>

##block header
            <div class="headerwrap" 
            ##if skel and skel.image
            	style="background-image: url({{skel.image.servingurl}}=s1000); background-repeat:no-repeat; background-position: center; background-size:cover;"
            ##endif
            >

                <div class="logo">
                    <a href="/"><img src="/static/images/logo-wdg.png" width="125" title="Wilhelm-D&ouml;rpfeld-Gymnasium Wuppertal" alt="Wilhelm-D&ouml;rpfeld-Gymnasium Wuppertal"></a>
                    
                    ##if skel and skel.classes
	    	            ##for class in skel.classes
	                	##set c=getEntry("fach",id=class.id)
	                		##if c.icon.dlkey
	                		<div class="picto">

	                		<a href="/navigation/view/{{c.navkey.id}}/{{c.navkey.name}}" title="Fach: {{c.name}}"><img src="/file/view/{{c.icon.dlkey}}" alt="{{c.icon.name}}" /></a>
							
							</div>
							##endif
	                	##endfor
                    ##else
                    ##if not skel or not skellist
                    
                    <script type="text/javascript">
                   		 ##set classes=getList("fach",**{})	
                    	var fadingclasses = window.setInterval("fadeclass()",3000);
                    	var fadingclassespos=0;
                    	var fadingclassesmax={{classes|length}};
                    	
                    	
                    	function fadeclass() {
                    		$("#fadingclassitem"+fadingclassespos).fadeOut('slow');
                    		if (fadingclassespos+1>=fadingclassesmax) {
                    			$("#fadingclassitem"+"0").fadeIn('slow');
                    			fadingclassespos=0;
                    		}else {
                    			$("#fadingclassitem"+(fadingclassespos+1)).fadeIn('slow');
                    			fadingclassespos=fadingclassespos+1;                    			
                    		}
                    	}
                    	
                    	
                    	
                    	
                    </script>
                    
                    
                    	<div id="fadingimagesheadcontainer" class="picto">
		                		

		    	            ##for c in classes
		                	
		                		<a
		                		##if loop.first
		                		 style="display: block;"
		                		##endif
		                		 href="/navigation/view/{{c.navkey.id}}/{{c.navkey.name}}" id="fadingclassitem{{loop.index0}}" title="Fach: {{c.name}}">{% if c.icon %}<img src="/file/view/{{c.icon.dlkey}}" alt="{{c.icon.name}}" />{% endif %}</a>
	
		                	##endfor	
           		
            		
                    	</div>
                    	
                    	
                    ##endif
                    ##endif
                    
                </div>

		##set neuigkeitenliste = getList("neuigkeit",**{"amount":"3", "orderby":"showuntil","orderdir":"1"} )
	        ##if neuigkeitenliste and neuigkeitenliste|length>0
                <div class="newsbox-start" style="width: 26%; float: right; margin-top: 50px; padding:10px; color: #fff">
	                <strong>Aktuelle Neuigkeiten</strong>
	            ##for neuigkeit in neuigkeitenliste
                        <h2><a style="text-decoration: none; color:#fff" href="/neuigkeit/view/{{neuigkeit.id}}/{{neuigkeit.name}}">{{neuigkeit.name}}</a></h2>
		##endfor
	                </div>
		##endif

                ##if not quoteskel or quoteskel and not quoteskel.quotename
                	##set quoteskel=getList("artikel",**{"orderby":"changedate","orderdir":"1","amount":"20"})|random()
               ##endif

		##if quoteskel and not neuigkeitenliste
                <div class="zitat">
                    
                    ##if quoteskel.quoteauthornotes   
                  	<div class="tip" id="quoteauthortooltip" style="display: none">
                	    ##if quoteskel.quoteimage
                	    <img src="{{quoteskel.quoteimage.servingurl}}=s72-c" />
                	    ##endif
                	    <h4>{{quoteskel.quoteauthornotes|striptags|replace("\n","<br />")|truncate(length=200, killwords=False, end='&hellip;')}}</h4>
                	    <div class="clear"></div>
                	</div>  
                	##endif  
                	
                	##if quoteskel.quotename|string           	 
           	        <p id="quotetext">»<a  href="/artikel/view/{{quoteskel.id|shortKey}}/{{quoteskel.name}}" title="{{quotedescr}}">{{quoteskel.quotename}}</a>«
                   	<br>— <span class="autor" title="{{quoteskel.quoteauthornotes}}" 
                        ##if quoteskel.quoteauthorurl
                            onclick="openwindow('{{quoteskel.quoteauthorurl}}',800,600)"
                        ##endif
                        >
                           
                         {{quoteskel.quoteauthorname}}</span></p>
                   	##endif  

                </div>
                
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#quotetext').mouseenter(function() {
                            $('#quoteauthortooltip').fadeIn('slow');
                        });
                        $('#quotetext').mouseleave(function() {
                            $('#quoteauthortooltip').fadeOut('slow');
                        });                        
                    });
                </script>
                
                
                ##endif
                
                
                
                <!--<div class="picto"><a href="#"><img src="/static/images/pictogramm.png" width="25" title="Pictogramm" alt=""></a></div>-->

            </div>
##endblock

<div id="content_wrapper">
{% set path = execRequest("navigation/getAvailableRootNodes" ) %}
## set navlist = getList("navigation", parententry=path[0]["key"], amount="4",orderby="creationdate", active="1" )
##block content

##for nav in navlist
            <div class="column01 one-column-01">
                <h3><a href="/navigation/view/{{nav.id|shortKey}}/{{nav.name}}">{{nav.name}}</a></h3>
                <a href="/navigation/view/{{nav.id|shortKey}}/{{nav.name}}"><img src="{{nav.image.servingurl}}=s247-c" alt="{{nav.name}}" title="{{nav.name}}"></a>

                <div class="one-column-01-txt">
                    {{nav.subdescr}}
                    <p><a href="/navigation/view/{{nav.id|shortKey}}/{{nav.name}}">Erfahren Sie mehr!</a></p>
                </div>
            </div>
##endfor

##for nav in navlist
	## set subnavlist = getList("navigation", parententry=nav.id, amount="15",orderby="sortindex", active="1" )
            <div class="column01 one-column-02">    
                <img class="arrow-blue-01" src="/static/images/arrow-down-blue-01.png" width="12"  alt="">
     			<div class="navcontainer_holder">
	                <div class="navcontainer hoverexpander">
	                    <ul class="">
	                    
	                    		##for knoten in subnavlist
	       	              	   <li><a href="/navigation/view/{{knoten.id|shortKey}}/{{knoten.name}}" id="current">{{knoten.name}}</a></li>
				##endfor
	                    </ul>
	                   <a href="#" class="arrow-down"><img src="/static/images/arrow-down-white.png" width="12"  alt=""></a>
	                </div>
                </div>
            </div>
##endfor
       <!-- <div class="clear">&nbsp; </div>-->

##for nav in navlist
	##set artikelliste=getList("artikel",**{"orderby":"creationdate","amount":"6","navkey.id":nav.id}) 
            <div class="column01 one-column-03">
                ##if artikelliste and artikelliste|length>0

                <div class="navcontainer">
                    <ul class="bild-text">
                                  ##for t in artikelliste
					           <li>
                            <span style="overflow: hidden">
                            	##if t.image
                                <a href="/artikel/view/{{t.id|shortKey}}/{{t.name}}"><img src="{{t.image.servingurl}}=s75-c"  alt="{{t.name}}">
                                ##endif	
                                    <h2><a href="/artikel/view/{{t.id|shortKey}}/{{t.name}}">{{t.name}}</a></h2>
                                    <p>{{t.teaser|truncate(length=300, killwords=False, end='&hellip;')}}</p></a>
                            </span>
                        </li>
			##endfor                         
                    </ul>
                </div>
                <a href="/navigation/view/{{nav.id|shortKey}}/{{nav.name}}" class="arrow-down"><img src="/static/images/arrow-right-white.png" width="12"  alt=""></a>
           		##else
           		{#<p align="center">Keine Artikel im Bereich {{nav.name}}.</p>#}
           		##endif
            </div>

##endfor


<div class="clear"></div>

						{{ execRequest ("termin/list",**{"orderby":"startdate","startdate$gt":"now","orderdir":"0","cachetime":publiccachetime,"amount":"10","style":"index"}) }}
##endblock
            </div>

            <br class="clear" />

            <div class="footerwrap">
                <div class="column01 one-column-footer">

                    <div class="footerlist">
                        <ul>
                            <li>Wilhelm-Dörpfeld-Gymnasium</li>
                            <!-- <li>Johannisberg 20</li> Alt-->
                            <li>Dietrich-Bonhoeffer-Weg 1</li>
                            <li>42285 Wuppertal</li>
                            <!--<li>42103 Wuppertal</li>-->
                            <br />
                            <li>Tel. +49 (0) 202 - 47 82 790</li>
                            <li>Fax +49 (0) 202 - 44 92 39</li>
                            <li><a href="mailto:info@wdg.de">info@wdg.de</a></li>
                            <!-- <li>Schwebebahnstation: Ohligsmühle</li> -->
                        </ul>
                    </div>
                </div>

                <div class="column01 one-column-footer">
                    <div class="footerlist">
                        <ul>
                            {% for p in navlist %}
                                <li><a href="/navigation/view/{{p.id|shortKey}}/{{p.name}}">{{p.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="column01 one-column-footer">
                    <div class="footerlist">
                        <ul>
                        	<li><a href="/neuigkeit/list?orderby=creationdate&orderdir=1&showuntil$gt=now">News</a></li>
                        	<li><a href="/mensaplan/list">Mensa: Essensplan</a></li>
                            <br />
                            <li><a href="http://www.vereinigung-wdg.de/">Vereinigung der Freunde des WDG</a></li>
                            <li><a href="/kooperationspartner/list?orderby=sortpoints">Kooperationspartner</a></li>
                            <li><a href="/ansprechpartner/list">Ansprechpartner</a></li>
                        {#    <li><a href="#">Teeküche</a></li> #}
                            
                        </ul>
                    </div>
                </div>

                <div class="column01 one-column-footer last">
                    <div class="footerlist">
						<script type="text/javascript">
						var defaultsearchcaption=""
							function clearsearch() {
								if($('#footersearch').val()==defaultsearchcaption) {
									$('#footersearch').val("");
								}
							}
						
						$(document).ready(function () {
                    		$('#footersearch').click(function() {
                    				clearsearch();
                    			})
                    		$('#footersearch').focusin(function() {
                    				clearsearch();
                    			})
                    		$('#footersearch').focusout(function() {
                    			if($('#footersearch').val()=="") {
									$('#footersearch').val(defaultsearchcaption);
								}
                    			})
                    		defaultsearchcaption=$('#footersearch').val()
                    	});
							
							
						</script>
                        <form action="/s/searchresults" method="get" >
							<input type="text" value="Suche" name="search" class="footersearch" id="footersearch">
						</form>
                        
                        <ul>
                            <li><a href="https://sites.google.com/a/wdg.de/start/">Login</a></li>
                            <li><a href="/termin/{{ execRequest ("termin/getCurrentYear")-1 }}#m{{ execRequest ("termin/getCurrentMonth")-1 }}">Kalender</a></li>
                            <br />
                            <li><a href="/contact">Kontakt</a></li>
                            <li><a href="/impressum/view">Impressum</a></li>
                            <li><a href="/s/sitemap">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            

        </div>
        <!-- mainwrapper -->

    </body>
</html>
