##if not publiccachetime
	##set publiccachetime=30
##endif
##set request=requestParams()
##if request.embed=="1"
##else
		##extends "index.html"
##endif

##block keywords
##endblock
##block metadescr
##endblock

##macro kooperationsbox(a)

<div class="kooperationspartner">

    <div style="min-height: 100px; float: left;">
		##if a.image
	    		<img class="photo" alt="logo" src="{{a.image.servingurl}}=s120" />
		##endif
		<br />
</div>
    
    <h3 class="fn">{{a.name}}</h3>
    {{a.descr}}
    
    <div class="clear">&nbsp;</div>
    	##if a.url
	    	<a class="weblink" href="{{a.url}}">zur Webseite</a>
		##endif
</div>


##endmacro


##block content
 <div class="column03 three-column-txt">
                    <h1>Kooperationspartner</h1>
                   </div>
<div style="width: 715px; margin-left:60px; float:right; min-height:700px; ">
			##for koop in skellist
				{{kooperationsbox(koop)}}
			##endfor
		
</div>

##endblock

