##if not publiccachetime
	##set publiccachetime=30
##endif
##set request=requestParams()
##if request.embed=="1"
##else
		##extends "index.html"
##endif

##block keywords
##endblock
##block metadescr
##endblock


## block content

<div class="trenner"></div>

	<div class="zwei-spalten">
		<div class="zwei-spalten-img">
			<img src="/static/images/P1100077.jpg" width="300" height="auto" />

		</div>
	</div>
	
		
		
	<div class="zwei-spalten">
		<div class="headline-2">Mensaessen</div>
			
			<div class="text-artikel">
			Hier finden Sie die aktuellen Essenspläne zum Download. <br /><br />
			##for skel in skellist
				<ul>
					<li><a href="/file/view/{{skel.pdf.dlkey}}/{{skel.pdf.name}}?download=1" target="blank">{{skel.name}} (Download)</a></li>
				<ul>
			##endfor
			</div>
		</div>
		
		<div class="clear">&nbsp;</div>
		<div class="trenner"></div>



##endblock

