##extends "index.html"


##block keywords
##endblock
##block metadescr
##endblock

##block content

{% set path = execRequest("navigation/getAvailableRootNodes" ) %}
## set navlist = getList("navigation", parententry=path[0]["key"], amount="4",orderby="creationdate", active="1" )
##for nav in navlist
<div class="column01 one-column-02">
	<h3><a href="/navigation/view/{{nav.id|shortKey}}/{{nav.name}}">{{nav.name}}</a></h3>
</div>
##endfor


<div class="spalte-four">

	<div class="column04 four-column-txt">
		<h1>{{skel.name}}</h1>
		<h2>{{skel.subdescr}}</h2>
		{{skel.descr}}
	</div>

	<div class="column04 four-column-01" style=" margin-top: 10px;">

		<img class="arrow-blue-01" src="/static/images/arrow-down-blue-01.png" width="12" alt="">

		##set artlist=getList("artikel",**{"orderby":"creationdate","orderdir":"1","amount":"15","navkey.id":skel.id})
		##for a in artlist
		<div class="three-short">
			##if a.image
			<a href="/artikel/view/{{a.id|shortKey}}/{{a.name}}"><img src="{{a.image.servingurl}}" alt="{{a.name}}"></a>
			##endif
			<h2>{{a.name}}</h2>
			<h3>{{a.teaser}}</h3>
			<p><a href="/artikel/view/{{a.id|shortKey}}/{{a.name}}">Erfahren Sie mehr!</a></p>
		</div>
		##endfor

	</div>
</div>
<div class="spalte-four teaser">
	##set subnavlist = getList("navigation", parententry=skel.id, amount="35",orderby="sortindex",active="1")
	##for subnav in subnavlist
	##set artikelliste=getList("artikel",**{"orderby":"creationdate","amount":"2","navkey.id":subnav.id})

	##if artikelliste and artikelliste|length>=2
	<div class="column01 one-column-03">
		<h3><a href="/navigation/view/{{subnav.id}}/{{subnav.name}}">{{subnav.name}}</a></h3>


		<div class="navcontainer">
			<ul class="bild-text">

				##for subartikel in artikelliste
				<li>
                            	    <span style="overflow: hidden">
                            	    	<a href="/artikel/view/{{subartikel.id}}/{{subartikel.name}}">
											##if subartikel.image
											<img src="{{subartikel.image.servingurl}}=s75-c" alt="{{subartikel.name}}">
											##endif
											<h2>{{subartikel.name|truncate(length=25, killwords=False, end='&hellip;')}}</h2>
											<p>{{subartikel.teaser|truncate(length=50, killwords=False, end='&hellip;')}}</p>
										</a>
                               		 </span>
				</li>
				##endfor

			</ul>
		</div>
		<a href="/navigation/view/{{subnav.id}}/{{subnav.name}}" class="arrow-down"><img src="/static/images/arrow-right-white.png" width="12" alt=""></a>

	</div>
	##endif
	##endfor

	##for subnav in subnavlist
	##set artikelliste=getList("artikel",**{"orderby":"creationdate","amount":"2","navkey.id":subnav.id})

	##if artikelliste and artikelliste|length==1
	<div class="column01 one-column-03">
		<h3><a href="/navigation/view/{{subnav.id}}/{{subnav.name}}">{{subnav.name}}</a></h3>


		<div class="navcontainer">
			<ul class="bild-text">

				##for subartikel in artikelliste
				<li>
                            	    <span style="overflow: hidden">
                            	    	<a href="/artikel/view/{{subartikel.id}}/{{subartikel.name}}">
											##if subartikel.image
											<img src="{{subartikel.image.servingurl}}=s75-c" alt="{{subartikel.name}}">
											##endif
											<h2>{{subartikel.name|truncate(length=25, killwords=False, end='&hellip;')}}</h2>
											<p>{{subartikel.teaser|truncate(length=50, killwords=False, end='&hellip;')}}</p>
										</a>
                               		 </span>
				</li>
				##endfor

			</ul>
		</div>
		<a href="/navigation/view/{{subnav.id}}/{{subnav.name}}" class="arrow-down"><img src="/static/images/arrow-right-white.png" width="12" alt=""></a>

	</div>
	##endif
	##endfor


	##for subnav in subnavlist
	##set artikelliste=getList("artikel",**{"orderby":"creationdate","amount":"2","navkey.id":subnav.id})

	##if artikelliste and artikelliste|length>0
	##else
	<div class="column01 one-column-02">
		<h3><a href="/navigation/view/{{subnav.id}}/{{subnav.name}}">{{subnav.name}}</a></h3>
	</div>
	##endif
	##endfor

	<div class="clear"></div>


</div>
<div class="column01 one-column-02 marginal hidden">
	##if skel.ansprechpartner
	<h3>Redaktionsteam</h3>

	<div class="navcontainer">
		<ul class="redaktion">

			##for partner in skel.ansprechpartner
			<li>
                            
                                <span style="overflow: hidden">
                               ##set image=getEntry(modul="ansprechpartner", skel="viewSkel", id=partner.id)
                                    <img src="{{image.image.servingurl}}" alt="">
                                        <h2>{{partner.firstname}} {{partner.name}}</h2>
                                        <p>{{partner.email}}<br>
											{{partner.tel}}</p>
                                </span>
			</li>
			##endfor

		</ul>
	</div>
	<a href="/ansprechpartner/list/" class="arrow-down"><img src="/static/images/arrow-right-white.png" width="12" alt=""></a>
	##endif

	{{ execRequest ("neuigkeit/list",**{"showuntil$gt":"now","orderby":"showuntil","orderdir":"0","amount":"20","style":"index","navpunkt.id":skel.id}) }}

	##set artikelliste=getList("artikel",**{"orderby":"changedate","orderdir":"1","amount":"5","navkey.id":skel.id})

	##if artikelliste and artikelliste[0]
	<h3>Letzte Änderungen</h3>

	<div class="navcontainer">
		<ul class="redaktion">
			<li>
				##if artikelliste[0].image

				<a href="/artikel/view/{{artikelliste[0].id|shortKey}}/{{artikelliste[0].name}}"><img src="{{artikelliste[0].image.servingurl}}" alt="{{artikelliste[0].name}}"></a>
				##endif
				<strong>{{artikelliste[0].name}}</strong> - {{artikelliste[0].changedate.strftime("%d.%m.%Y")}}
				{{artikelliste[0].teaser|truncate(length=150, killwords=False, end='&hellip;')}}
				<a href="/artikel/view/{{artikelliste[0].id|shortKey}}/{{artikelliste[0].name}}">Erfahren Sie mehr!</a>
			</li>
			##endif
			##if artikelliste|length>1


			##for art in artikelliste
			<li>
				<a href="/artikel/view/{{art.id|shortKey}}/{{art.name}}"><strong>{{art.name}}</strong> - {{art.changedate.strftime("%d.%m.%Y")}}</a>
			</li>
			##endfor
		</ul>
	</div>
	##endif

</div>

##endblock