	##if skellist|length>0
		<h3>Neuigkeiten zum Thema</h3>
	<ul class="navcontainer">
	##for skel in skellist
		<li><a href="/neuigkeit/view/{{skel.id|shortKey}}/{{skel.name|urlencode()}}">
				<h4 style="font-weight: bold">{{skel.name}}</h4>
				{{skel.descr|truncate(length=150, killwords=False, end='&hellip;')}}
				##if skel.image
					<img src="{{skel.image.servingurl}}" /> 
				##endif
			</a></li>	
	##endfor
	</ul>
	<h4 class="archiv"><a href="/neuigkeit/list?style=archiv&showuntil$lt=now">Archiv</a></h4>
	##endif