##extends "index.html"
##block metadescr
{{skel.teaser}}
##endblock

##block content
{% set path = execRequest("navigation/getAvailableRootNodes" ) %}
## set navlist = getList("navigation", parententry=path[0]["key"], amount="4",orderby="creationdate", active="1")
##for nav in navlist
<div class="column01 one-column-02">
	<h3><a href="/navigation/view/{{nav.id|shortKey}}/{{nav.name}}">{{nav.name}}</a></h3>
</div>
##endfor
<div class="column04 four-column-txt article-view">

	<div class="column03 three-column-txt">
		<h1>{{skel.name}}</h1>
	</div>

</div>
<div class="spalte-three">
	<div class="column03 three-column-01" style=" margin-top: 10px; border: none">

		<div class="three-article">
			##if skel.fulldescr
			{{skel.fulldescr}}
			##endif
		</div>
	</div>
</div>

<div class="column01 one-column-02 marginal">
	##if skel.images
	<script type="text/javascript">
				function openfancybyid(i) {
		fancyboxoptions["index"]=i;
		$.fancybox([
		##for image in skel.images
		{
		'href'	: '/file/download/{{image.dlkey}}/{{image.name}}',
		'title'	: '{{image.name|replace(".jpg","")|replace(".JPG","")|replace(".png","")|replace(".PNG","")}}'

		}
		##if not loop.last
		,
		##endif

		##endfor
		],fancyboxoptions);
		}

		$(document).ready(function() {
		$('#fancybox_artikel img').each(function (i) {
		$(this).click(function() {
		openfancybyid(i);
		});
		});
		});
	</script>

	<a href="javascript:void(0);" >
		##for image in skel.images
	<div class="column01 galerie" id="fancybox_artikel">
		<a href="#"><img src="{{image.servingurl}}" alt=""></a>
	</div> 
	## if loop.index==3
	##break
	##endif
	##endfor 
	</a>
	<div class="column01 one-column-02 marginal">
		<a href="javascript:void(0); return false" onclick="openfancybyid(0)" class="arrow-down-gal"><img src="/static/images/arrow-right-white.png" width="12" alt=""></a>
	</div>
	##endif

	<h3>Redaktionsteam</h3>

	<div class="navcontainer">
		<ul class="redaktion">
			##for partner in skel.ansprechpartner
			<li>
				<span style="overflow: hidden"> 
					{%- set image=getEntry(modul="ansprechpartner", skel="viewSkel", id=partner.id) -%}
					{%- if image -%}
					<img src="{{image.image.servingurl}}" alt="">
					{%- endif -%}
					<h2>{{partner.firstname}} {{partner.name}}</h2>
					<p>
						{{partner.email}}
						<br>
						{{partner.tel}}
					</p> </span>
			</li>
			##endfor

		</ul>
	</div>
	<a href="/ansprechpartner/list/" class="arrow-down"><img src="/static/images/arrow-right-white.png" width="12" alt=""></a>

	<div class="column01 one-column-03">

		<h3>Information</h3>

		<div class="navcontainer">
			<ul class="redaktion">

				<li>
					<strong>Erstellt am</strong> - {{skel.creationdate.strftime("%d.%m.%Y")}}
				</li>
				<li>
					<strong>Zuletzt bearbeitet</strong> - {{skel.changedate.strftime("%d.%m.%Y")}}
				</li>
				##if skel.classes
				<li>
					<strong>Fächer</strong>
					<ul>
						##for class in skel.classes
						##set c=getEntry("fach",id=class.id)
						<li style="background-image: url(/file/view/{{c.icon.dlkey}})">
							<a href="/navigation/view/{{c.navkey.id}}/{{c.navkey.name}}">{{c.name}}</a>
						</li>
						##endfor
					</ul>
				</li>
				##endif
			</ul>
		</div>

	</div>

	##set navlist = getList("navigation", amount="15",orderby="creationdate", parententry=skel.navpunkt[0].id, active="1")

	##if navlist|length>1
	<div class="column01 one-column-03">

		<h3>Mehr aus den Bereichen</h3>

		<div class="navcontainer">
			<ul class="redaktion">
				##for subnav in navlist
				<li>

					<a href="/navigation/view/{{subnav.id}}/{{subnav.name}}"><strong>{{subnav.name}}</strong></a>
				</li>
				##endfor
			</ul>
		</div>

	</div>
	##endif
	{#
	##if skel.navpunkt
	<div class="link-news">
		##for nav in skel.navpunkt
		{{nav.name}}
		##endfor
	</div><!-- link -->
	##endif
	#}

	##if skel.moreartikel
	<div class="column01 one-column-03">

		<h3>Weitere Informationen</h3>

		<div class="navcontainer">
			<ul class="bild-text">
				##for more in skel.moreartikel
				<li>
					<span style="overflow: hidden"> <a href="/artikel/view/{{more.id|shortKey}}/{{more.name}}">
						{%- set image=getEntry(modul="artikel", skel="viewSkel", id=more.id) -%}
						<img src="{{image.image.servingurl}}" alt=""> <h2>{{more.name}}</h2> {{more.teaser|truncate(length=150, killwords=False, end='&hellip;')}}</a> </span>
				</li>
				##endfor
			</ul>
		</div>
		<a href="#" class="arrow-down"><img src="/static/images/arrow-right-white.png" width="12" alt=""></a>
	</div>
	##endif
</div>
##endblock
