<script type="text/javascript">
	var newstickerlen={{skellist|length}};
	var newstickerpos=1;

	var theTimer = window.setInterval("autotickerslide()", 3000);

	function autotickerslide() {
		$('#tickeritem'+newstickerpos).fadeOut('slow');
		if (newstickerpos==newstickerlen) {
			newstickerpos=1;
		} else {
			newstickerpos+=1;
		}
		$('#tickeritem'+newstickerpos).fadeIn('slow');
	}

</script>


##for skel in skellist
<div id="tickeritem{{loop.index}}" style="position: absolute; top: 0px; left: 0px; {% if loop.first==False %}display:none;{% endif %}">
	<a href="javascript:void(0)" onclick="gotonews('{{skel.id}}')">Aktuelles: {{skel.name}}</a>
</div>
##endfor
