##extends "index.html"

##block content
{% set path = execRequest("navigation/getAvailableRootNodes" ) %}
## set navlist = getList("navigation", parententry=path[0]["key"], amount="4",orderby="creationdate")
##for nav in navlist
  			<div class="column01 one-column-02">
                <h3><a href="/navigation/view/{{nav.id|shortKey}}/{{nav.name}}">{{nav.name}}</a></h3>
            </div>
##endfor

<div class="spalte-four">

                <div class="column04 four-column-txt">
                    <h1>Neuigkeiten</h1>
                </div>

                <div class="column04 four-column-01" style=" margin-top: 10px;">

                    <img class="arrow-blue-01" src="/static/images/arrow-down-blue-01.png" width="12" alt="">


##for skel in skellist
                    <div class="three-short">
                    	##if skel.image
                        	<a href="/neuigkeit/view/{{skel.id}}/{{skel.name}}"><img src="{{skel.image.servingurl}}/{{skel.name}}" alt=""></a>
                        ##endif
                        <h2><a href="/neuigkeit/view/{{skel.id}}/{{skel.name}}">{{skel.name}}</a></h2>
                        <h3>{{skel.descr|striptags|truncate(length=100, killwords=False, end='...')}}</h3>
                        <p><a href="/neuigkeit/view/{{skel.id}}/{{skel.name}}">zur Neuigkeit</a></p>
                    </div>

##endfor
                </div>
	    <h4 class="archiv"><a href="/neuigkeit/list?style=archiv&showuntil$lt=now">Archiv</a></h4>
		</div>

##endblock
	