##from "termin_list.html" import terminlist

##block content

<h1 style="text-align: center">Die nächsten Termine</h1>


##set monthes=["Januar","Februar","März","April","Mai","Juni","Juli","August","September","Oktober","November","Dezember"]
{% set actualmonth = 0 %}
			{% for skel in skellist %}
				{% if actualmonth!= skel.startdate.month %}
					{% if not loop.first %}
							</tbody>
						</table>
					{% endif %}
					<h1 style=" margin-top:20px; text-align:center; margin-top:20px; ">{{ monthes[skel.startdate.month-1] }} {{ skel.startdate.year}}</h1>
					<table>
						<thead>
							<tr >
								<th width="25%" align="center">Datum</th>
								<th width="60%" align="center">Name</th>
								<th width="15%" align="center">Ort</th>

							</tr>
						</thead>
						<tbody>
					{% set actualmonth= skel.startdate.month %}
				{% endif %}
				##if skel.active=="1"
				<tr>

					<td  width="25%" align="center">{%if skel.startdate.strftime(format="%H:%M")=="00:00"%}{{ skel.startdate.strftime(format="%d.%B %Y") }}{%else%}{{ skel.startdate.strftime(format="%d.%B %Y %H:%M") }}{%endif%}
					##if skel.hideenddate=="0"

							##if skel.startdate.strftime("%d.%B %Y") == skel.enddate.strftime("%d.%B %Y")
								- {{ skel.enddate.strftime(format="%H:%M") }}
							##else
					     		- {%if skel.enddate.strftime(format="%H:%M")=="00:00"%}{{ skel.enddate.strftime(format="%d.%B %Y") }}{%else%}{{ skel.enddate.strftime(format="%d.%B %Y %H:%M") }}{%endif%}
					     	##endif

					##endif
					</td>
					<td width="60%" align="center">{{skel.name}} <div style="text-align: right"><a href="/termin/view/{{skel.id}}">&raquo; Mehr erfahren</a></div></td>
					<td width="15%" align="center">{{skel.ort}}</td>
				</tr>
				##endif
			{% endfor %}
		</tbody>
	</table>
	
	<div style="float:right; margin-right:5px;">
		<a href="/termin/{{currentYear()}}">Alle Termine anzeigen</a>
	</div>
	<div class="clear">&nbsp;</div>
	<br />
	<br />
	<br />
##endblock