##extends "index.html"

##block content
{% set path = execRequest("navigation/getAvailableRootNodes" ) %}
## set navlist = getList("navigation", parententry=path[0]["key"], amount="4",orderby="creationdate")
##for nav in navlist
  <div class="column01 one-column-02">
                <h3><a href="/navigation/view/{{nav.id|shortKey}}/{{nav.name}}">{{nav.name}}</a></h3>
            </div>
##endfor
<div class="spalte-three">

                <div class="column03 three-column-txt">
                    <h1>{{skel.name}}</h1>
                </div>

                <div class="column03 three-column-01" style=" margin-top: 10px;">
   
                    <div class="three-article">
                   ##if skel.image
                        <img style="width:100%" src="{{skel.image.servingurl}}" alt="">
                  ##endif
                    
			{{skel.descr}}
					</div>
                </div>

</div>     
            
            <div class="column01 one-column-03">
            	<h3><a href="/termin/{{currentYear()}}">&raquo;Zurück zum Kalender</a></h3>

            	<h3>Information</h3>

                    <div class="navcontainer">
			   <ul class="redaktion">		
				##if skel.terminart
					<li>Art des Termins: {{skel.terminart}}</li>
				##endif
				
				##if skel.ort
					<li>Ort: {{skel.ort}}</li>
				##endif
				
				Beginnt am: {%if skel.startdate.strftime(format="%H:%M")=="00:00"%}{{ skel.startdate.strftime(format="%d.%B %Y") }}{%else%}{{ skel.startdate.strftime(format="%d.%B %Y %H:%M") }}{%endif%}<br />
				##if skel.hideenddate=="0"
				Endet am: {%if skel.enddate.strftime(format="%H:%M")=="00:00"%}{{ skel.enddate.strftime(format="%d.%B %Y") }}{%else%}{{ skel.enddate.strftime(format="%d.%B %Y %H:%M") }}{%endif%}
				##endif
				</ul>
				
				##if skel.downloads
<br /><br />
	<strong>Downloads</strong><br />	
	##for skel in skel.downloads
		<a href="/file/view/{{skel.dlkey}}/{{skel.name}}?download=1" target="_blank">{{skel.name}}</a><br />
	##endfor

##endif
				
					</div>
			</div>
##endblock
