##extends "index.html"

##macro terminlist(skellist)

##set monthes=["Januar","Februar","März","April","Mai","Juni","Juli","August","September","Oktober","November","Dezember"]
{% set actualmonth = 0 %}
			{% for skel in skellist %}
				{% if actualmonth!= skel.startdate.month %}
					{% if not loop.first %}
							</tbody>
						</table>
					{% endif %}
					<h1 id="m{{actualmonth}}" style=" margin-top:20px; text-align:center; margin-top:20px; ">{{ monthes[skel.startdate.month-1] }} {{ skel.startdate.year}}</h1>
					<table>
						<thead>
							<tr >
								<th width="25%" align="center">Datum</th>
								<th width="60%" align="center">Name</th>
								<th width="15%" align="center">Ort</th>

							</tr>
						</thead>
						<tbody>
					{% set actualmonth= skel.startdate.month %}
				{% endif %}
				##if skel.active=="1"
				<tr>

					<td  width="25%" align="center">{%if skel.startdate.strftime(format="%H:%M")=="00:00"%}{{ skel.startdate.strftime(format="%d.%B %Y") }}{%else%}{{ skel.startdate.strftime(format="%d.%B %Y %H:%M") }}{%endif%}
					##if skel.hideenddate=="0"

							##if skel.startdate.strftime("%d.%B %Y") == skel.enddate.strftime("%d.%B %Y")
								- {{ skel.enddate.strftime(format="%H:%M") }}
							##else
					     		- {%if skel.enddate.strftime(format="%H:%M")=="00:00"%}{{ skel.enddate.strftime(format="%d.%B %Y") }}{%else%}{{ skel.enddate.strftime(format="%d.%B %Y %H:%M") }}{%endif%}
					     	##endif

					##endif
					</td>
					<td width="60%" align="center">{{skel.name}} <div style="text-align: right"><a href="/termin/view/{{skel.id}}">&raquo; Mehr erfahren</a></div></td>
					<td width="15%" align="center">{{skel.ort}}</td>
				</tr>
				##endif
			{% endfor %}
		</tbody>
	</table>

##endmacro


##block content

{% set path = execRequest("navigation/getAvailableRootNodes" ) %}
## set navlist = getList("navigation", parententry=path[0]["key"], amount="4",orderby="creationdate",active="1")
##for nav in navlist
  <div class="column01 one-column-02">
                <h3><a href="/navigation/view/{{nav.id|shortKey}}/{{nav.name}}">{{nav.name}}</a></h3>
            </div>
##endfor

	<div class="column03 three-column-txt">
		<h1>Terminplaner</h1>
	</div>
 {% set minYear, maxYear = 2011,2016 %} 


	<table>
		<tr>
			<td width="33%" style="text-align:center">{% if minYear<currentYear() %}<a href="/termin/{{currentYear()-1}}">Schuljahr {{currentYear()-1}}/{{currentYear()-2000}}</a>{%endif%}</td>
			<td width="33%" style="text-align:center">{% if currentYear() %}<a href="/termin/{{currentYear()}}">Schuljahr {% endif %}{{currentYear()}}/{{currentYear()-1999}}{#Aka (currentYear()+1)-2000#}</a></td>
			<td width="33%" style="text-align:center">{% if maxYear>currentYear() %}<a href="/termin/{{currentYear()+1}}">Schuljahr {{currentYear()+1}}/{{currentYear()-1998}}</a>{%endif%}</td>
		</tr>
	</table>
	
{{terminlist(skellist)}}


<div class="clear">&nbsp;</div>
	<br />
	<br />

	<table>
		<tr>
			<td width="33%" style="text-align:center"><a href="/termin/{{currentYear()}}?style=ical&active=1&intern=0/{{currentYear()}}.ical" target="_blank">iCal-Format</a></td>
					
		</tr>
	</table>	

##endblock