{% set thisPage="sitemap" %}
{% set pagetitle="Sitemap" %}
{% extends "index.html" %}

##set r=requestParams()
##if r.search
##set searchval=r.search
##else
##set searchval=""
##endif


##block content

{% set path = execRequest("navigation/getAvailableRootNodes" ) %}
## set navlist = getList("navigation", parententry=path[0]["key"], amount="4",orderby="creationdate")
##for nav in navlist
  			<div class="column01 one-column-02">
                <h3><a href="/navigation/view/{{nav.id|shortKey}}/{{nav.name}}">{{nav.name}}</a></h3>
            </div>
##endfor

<script type="text/javascript">


function search(){
		var sstring = $("#footersearch").val();
		window.location.href="/"+"s"+"/"+"searchresults"+"?search"+"="+	sstring;
	};
	
</script>

##set found =False
<div class="spalte-three">

   <div class="column03 three-column-txt">
        <h1>Suche</h1>
            <form action="/s/searchresults" method="get" >
	<input type="text" value="
		{%-if searchval|length>0 -%}
			{{searchval}}
		{%-else -%}
			Suche
		{%-endif -%}
		" name="search" class="footersearch" id="footersearch">
	<input type="submit" value="Suche" />
	</form>
    </div>
     <div class="column03 three-column-01 search" style=" margin-top: 10px;">

  		##set artikellist = getList("artikel", amount="15", search=searchval )
	        ##if artikellist|length>0
	    <div class="three-article">
	    	##set found =True
	        <h2 id="Artikel">Artikel</h2>
		##for artikel in artikellist
		
		        <h3><a href="/artikel/view/{{artikel.id|shortKey}}/{{artikel.name|urlencode()}}" target="_blank">{{artikel.name}}</a></h3>
				<p>{{artikel.descr|striptags|truncate(length=100, killwords=False, end='...')}}</p>
				    	##endfor
		</div>
    ##endif
  

    ##set newslist = getList("neuigkeit",orderby="name", amount="30", search=searchval )
    ##if newslist and newslist|length>0
 	    <div class="three-article">
    	##set found =True
        	<h2 id="Neuigkeiten">Neuigkeiten</h2>
		##for news in newslist
		        <h3><a href="/neuigkeit/view/{{news.id|shortKey}}/{{news.name|urlencode()}}">{{news.name}}</a></h3>
    	##endfor
		</div>
    ##endif

    ##set terminlist = getList("termin",orderby="name", amount="30", search=searchval)
    ##if terminlist and terminlist|length>0
    	<div class="three-article">
    	##set found =True
	        <h2 id="Termine">Termine</h2>
		##for termin in terminlist
		        <h3><a href="/termin/view/{{termin.id|shortKey}}/{{termin.name|urlencode()}}">{{termin.name}}</a></h3>
    	##endfor
		</div>
    ##endif
    
	##if not found
    	<div class="three-article">
			<h2>Keine Einträge gefunden.</h2>
	    </div>
	##endif
</div><!-- container -->

##endblock