{% set thisPage="sitemap" %}
{% set pagetitle="Sitemap" %}
{% extends "index.html" %}

##set r=requestParams()
##if r.search
##set searchval=r.search
##else
##set searchval=""
##endif


##block content
## set navlist = getList("navigation", parententry=path[0]["key"], amount="4",orderby="creationdate")
##for nav in navlist
  <div class="column01 one-column-02">
                <h3><a href="/navigation/view/{{nav.id|shortKey}}/{{nav.name}}">{{nav.name}}</a></h3>
            </div>
##endfor
{#
<script type="text/javascript">


function search(){
		var sstring = $("#footersearch").val();
		window.location.href="/"+"s"+"/"+"searchresults"+"?search"+"="+	sstring;
	};
	
</script>

##set found =False

#}

<div class="spalte-three">

   <div class="column03 three-column-txt">
        <h1>Sitemap</h1>
{#  <form action="/s/searchresults" method="get" >
	<input type="text" value="
		{%-if searchval|length>0 -%}
			{{searchval}}
		{%-else -%}
			Suche
		{%-endif -%}
		" name="search" class="footersearch" id="footersearch">
	<input type="submit" value="Suche" />
	</form>
#}	
    </div>


	<script>

		function buildTree(curr){
			for(i in curr){

				var articles =curr[i]["articles"];
				var nname  =  curr[i]["name"];

				$("#jsonnav").append('<h3>'+nname+'</h3>');
				for( i in articles ){
					var tempname = articles[i]["name"];
					var tempid = articles[i]["id"];
					var tempdescr = articles[i]["descr"];



					$("#jsonnav").append('<p><a href="/artikel/view/'+tempid+'/'+tempname+'" target="_blank"> - '+tempname+'</a></p>');
				}


				console.log(articles)
				console.log(curr[i]["name"])
				if(curr[i]["subnodes"]){
					buildTree(curr[i]["subnodes"]);
				}
			}
		}

		$(document).ready(function(){
			$.getJSON('/navigation/getNav', function(data) {
				buildTree(data["subnodes"]);
            });
		});

	</script>

	<div class="column03 three-column-01 search" style=" margin-top: 10px;">
		<div class="three-article" id="jsonnav">
			<h2 id="Navigation">Navigation</h2>
		</div>


	</div>








	{#
     <div class="column03 three-column-01 search" style=" margin-top: 10px;">

  		##set artikellist = getList("artikel", amount="30", search=searchval )
	        ##if artikellist|length>0
    <div class="three-article">

		##set found =True	

	        <h2 id="Artikel">Artikel</h2>
		##for artikel in artikellist
		
		        <h3><a href="/artikel/view/{{artikel.id|shortKey}}/{{artikel.name|urlencode()}}" target="_blank">{{artikel.name}}</a></h3>
				<p>{{artikel.descr|striptags|truncate(length=100, killwords=False, end='...')}}</p>
				    	##endfor
		</div>
    ##endif
 #}

    ##set newslist = getList("neuigkeit",orderby="name", amount="30", search=searchval )
    ##if newslist and newslist|length>0
 	    <div class="three-article">
{#    	##set found =True 
#}
        	<h2 id="Neuigkeiten">Neuigkeiten</h2>
		##for news in newslist
		        <h3><a href="/neuigkeit/view/{{news.id|shortKey}}/{{news.name|urlencode()}}">{{news.name}}</a></h3>
    	##endfor
		</div>
    ##endif

    ##set terminlist = getList("termin",orderby="name", amount="30", search=searchval)
    ##if terminlist and terminlist|length>0
    	<div class="three-article">
{#    	
	##set found =True 
#}	
	        <h2 id="Termine">Termine</h2>
		##for termin in terminlist
		        <h3><a href="/termin/view/{{termin.id|shortKey}}/{{termin.name|urlencode()}}">{{termin.name}}</a></h3>
    	##endfor
		</div>
    ##endif
 {#
     ##set navigationslist = getList("navigation",orderby="name", amount="30", search=searchval)
    ##if navigationslist and navigationslist|length>0
    	<div class="three-article">

	##set found =True 

	        <h2 id="Termine">Navigationspunkte</h2>
		##for navigation in navigationslist
		        <h3><a href="/navigation/view/{{navigation.id|shortKey}}/{{navigation.name|urlencode()}}">{{navigation.name}}</a></h3>
    	##endfor
		</div>
    ##endif
    
 #}
    
      ##set faecherliste = getList("fach",orderby="name", amount="30", search=searchval)
    ##if faecherliste and faecherliste|length>0
    	<div class="three-article">
{#    	
	##set found =True 
#}	
	        <h2 id="Termine">Fächer</h2>
		##for fach in faecherliste
		        <h3>{{fach.name}}</h3>
    	##endfor
		</div>
    ##endif
    
    
    ##set ansprechpartnerlist = getList("ansprechpartner",orderby="name", amount="30", search=searchval)
    ##if ansprechpartnerlist and ansprechpartnerlist|length>0
    	<div class="three-article">
{#    	
	##set found =True 
#}	
	        <h2 id="Termine">Ansprechpartner</h2>
		##for ansprechpartner in ansprechpartnerlist
		        <h3><a href="/ansprechpartner/view/{{ansprechpartner.id|shortKey}}/{{ansprechpartner.name|urlencode()}}">{{ansprechpartner.name}}</a></h3>
    	##endfor
		</div>
    ##endif
    
    
    ##set mensaplanlist = getList("mensaplan",orderby="name", amount="30", search=searchval)
    ##if mensaplanlist and mensaplanlist|length>0
    	<div class="three-article">
{#    	
	##set found =True 
#}	
	        <h2 id="Termine">Mensapläne</h2>
		##for mensaplan in mensaplanlist
		        <h3><a href="/mensaplanlist/view/{{mensaplanlist.id|shortKey}}/{{mensaplanlist.name|string|urlencode()}}">{{mensaplan.name}}</a></h3>
    	##endfor
		</div>
    ##endif
    
{#    
	##if not found
    	<div class="three-article">
			<h2>Keine Einträge gefunden.</h2>
	    </div>
	##endif
#}	
</div><!-- container -->

##endblock