{% extends "index.html" %}
{% block content %}
			<div>
			
   <h1>Mensa Bestellsystem</h1>

   <table>
	<tr>
		<th>Tag    </th>
		<th>Menü 1 </th>
		<th>Menü 2 </th>
		<th></th>
	</tr>
   {% for skel in skellist%}
   <tr>
	<td>{{skel.date.strftime("%d.%m.%Y")}}</td>
	<td>{{skel.menu1.name}}<br />
		<a href="/booking/book?meal={{skel.menu1.id}}&day={{skel.id}}">Buchen!</a>
	</td>
	<td>{{skel.menu2.name}}<br />
		<a href="/booking/book?meal={{skel.menu2.id}}&day={{skel.id}}">Buchen!</a>
	</td>
	<td>
   </tr>
   {% endfor %}
   </table>
   
   Hier die Liste der buchbaren Essen...
	</div>
{% endblock%}
