/*
#abc4d1    helles blau
#0093d5    dunles blau
#0072a5    dunkleres blau
*/

body {font-family:'Lato', Verdana, Arial, Helvetica, sans-serif;
      height:100%;
      font-size:0.9em;
      line-height:1.5em;
      color:#555;
      background-color:#fff;
      font-size:100,01%;
      overflow-y:scroll;}

a, a:visited {color:#555; text-decoration: underline;}
a:hover, a:active {color:#0093d5;}

p {margin-bottom: 10px;}

.mainwrapper {width:1000px; position:absolute;left:50%; margin-left:-505px; box-shadow:0px 5px 15px rgba(0,0,0,0.3);}
.topnav {padding: 10px 0; text-align: right; position: relative; width: 1000px;}
.topnav ul li {display: inline; margin-right: 10px;}

.headerwrap {width: 1000px; height: 320px; background-color:#abc4d1; position: relative; }
.headerimg {background: url(/static/images/testheader.jpg) no-repeat}
.headerimg-02 {background: url(/static/images/testheader-02.jpg) no-repeat}

#fadingimagesheadcontainer {width: 150px; height: 150px;}
#fadingimagesheadcontainer a {display: none; position: absolute; top: 0; left:0}


.footerwrap {width: 1000px; background-color:#abc4d1; position: relative; margin-top: 4px; overflow: hidden; color: #fff; }
.one-column-footer {margin-top: 10px; margin-bottom: 15px;}
.footersearch {width:210px; margin-bottom: 10px; margin-left: 9px; border:1px solid #0093d5; padding: 6px;position:relative;}

.ansprechpartner, .kooperationspartner{
	margin-bottom: 10px; border-bottom: 1px solid #ccc; padding-bottom:5px; padding-right:15px; overflow: hidden;
}

.ansprechpartner img, .kooperationspartner img{ margin-right: 15px; }

a.weblink {float:right}

.logo {position: absolute; top: 0px; margin: 40px;}
.picto {position: absolute; top: -30px; left: 125px;}
.picto img {width: 50px; height: 50px;}
.zitat {position: absolute; bottom: 0px; font-weight: 300; font-style: italic; letter-spacing: 1px; right: 0px; margin: 0 40px 30px 0; text-align: right; color: #fff; font-size: 1.5em; line-height: 1.3em; width: 400px;}
.zitat p {margin-top:30px; text-shadow: 1px 2px 2px rgba(0,0,0,0.8);}
.zitat .tip { padding:10px; position:relative; margin-bottom:30px; background:#fff; box-shadow:0px 2px 3px rgba(0,0,0,.3); width:380px;}
.zitat .tip img {float:left; width:70px; margin-right:10px;}
.zitat .tip h4 {float:left, margin:0; text-align:left; font-size:.7em; line-height:1.2em; font-style:normal; color:#555555;}

.zitat .tip:after {
	content:" ";
	bottom:-30px;
	left:50%;
	margin-left:-6px;
	position:absolute;
	border-style: solid;
	border-width: 15px 12px;
	border-color: #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.zitat a {text-decoration:none; color:#fff;}
.zitat .autor {font-size: 0.7em; margin-top: 5px; position: relative; font-style: normal;}

.column01 {width: 247px; float: left; position:relative; margin-right: 4px; }
.column03 {width: 749px; float: left;margin-right: 4px;}
.column04 {width: 1000px; float: left;}

.one-column-03:nth-of-type(4n) {width:247px; margin-right:0px;}
.column01.one-column-03:nth-of-type(4n) {margin-right:0px;}

.spalte-four.teaser .column01.one-column-03 h3 a {height: 44px}

.column01.marginal .navcontainer img {width:247px; margin-left:-15px; margin-top: -10px;}

.one-column-01 h3 a, .one-column-02 h3 a, .one-column-03 h3 a, .marginal h3 {text-align: center; padding: 10px 0 5px 0; color: #0093d5; font-size: 1.1em; display:block; text-decoration:none; border-bottom: 2px solid #0093d5; transition: all 0.3s ease;}
.one-column-01 h3 a:hover, .one-column-02 h3 a:hover, .one-column-03 h3 a:hover {background-color: #0093d5; color:#fff; box-shadow:0px 2px 2px rgba(0,0,0,0.3);}
.column01.one-column-01:nth-of-type(4n) {margin-right:0;}
.column01.one-column-02:nth-of-type(4n) {margin-right:0;}
.column01.one-column-03:nth-of-type(4n) {margin-right:0;}
.column01.one-column-04:nth-of-type(4n) {margin-right:0;}
.one-column-01:nth-of-type(even) h3 a, .one-column-02:nth-of-type(even) h3 a, .one-column-03:nth-of-type(even) h3 a, .marginal h3 {color:#0072a5; border-bottom: 2px solid #0072a5;}
.one-column-01:nth-of-type(even) h3 a:hover, .one-column-02:nth-of-type(even) h3 a:hover, .one-column-03:nth-of-type(even) h3 a:hover {background-color: #0072a5; color:#fff;}

.one-column-01 img {width: 247px; margin-top: 3px; height: auto;}
.one-column-01 p { }
.one-column-01-txt { padding:10px 20px 25px 20px;}
.one-column-01{ height: 410px; border-bottom: 2px solid #0093d5;}

.arrow-blue-01 {position: absolute; left: 50%; width: 12px; margin-left: -6px; z-index:100;}
.knoten { background: url(/static/images/knoten.png) no-repeat 225px}

/*.bild-text li { margin: 5px 0 0 0}*/
.bild-text li:hover { background-color: #eee;}
.bild-text li img { float: left; margin-right: 10px; width: 75px; height: 75px; }
.bild-text li h2 { font-weight: bold;}
.bild-text li p { font-size: 0.8em;}

.redaktion li { margin: 5px 0 0 0}
.redaktion li:hover { background-color: #eee;}
.column01.marginal .navcontainer .redaktion li img { float: left; margin-right: 10px; height: 60px; width: auto; }
.faecher li img {height:20px;}
.redaktion li h2 { font-weight: bold;}
.redaktion li p { font-size: 0.8em;}

.last { margin-right: 0px;}

.bgblue { background-color: #ecf2f4;}

.one-column-03 { /*margin-top: 10px;*/ border-bottom: 2px solid #0093d5; position: relative}
.one-column-03:nth-of-type(even) {border-bottom: 2px solid #0072a5;}

.marginal {float: right; margin-right: 0px; background: #e9f1f2;}

.one-column-04 h3{text-align: center; padding: 10px 0 10px 0; font-size: 1.1em;}

.three-column-txt {padding:20px; width: 709px; margin-top: 10px;}
.three-column-txt h1 {color: #0093d5; font-size: 2.8em; margin-bottom: 15px; line-height:normal;}
.three-column-txt h2 {font-size: 1.4em; margin-bottom: 10px;}
.three-column-txt p {}

.four-column-txt {padding:20px; width: 960px; margin-top: 10px;}
.four-column-txt.article-view {border-bottom: 2px solid #0093d5;}
.four-column-txt h1 {color: #0093d5; font-size: 2.8em; margin-bottom: 15px; line-height:normal;}
.four-column-txt h2 {font-size: 1.4em; margin-bottom: 10px;}
.four-column-txt p {}

.three-short {border-bottom: 1px solid #ccc; overflow: hidden; margin-top: 5px; padding-left: 10px}
.three-short img {float: left; margin-right: 20px; width: 247px; margin-bottom: 5px;}
.three-short h1 { font-size: 1.6em; margin-bottom: 5px; margin-top: 10px}

/********************************************************/
/* Anpassung für neues Markup in Archiv & Artikel Liste */
/*******************************************************/

.three-short h2 {font-size: 2em; margin: 10px 10px 5px 0; line-height: 1em; }
.three-short h2 a {color:#0093d5; text-decoration: none}
.three-short h2 a:hover {color: #000}
.three-short h3 {font-size: 1.2em; margin-bottom: 5px; margin-top: 10px;}
.three-short h3 a {text-decoration: none;}
.three-short h3 a:hover {color: #0093d5;}


.three-article {overflow: hidden; margin-top: 5px; padding: 30px 50px;}
.three-article img {margin-bottom: 30px; max-width: 100%;}

.three-column-01 { border-top: 2px solid #0093d5; position: relative}

.four-column-01 { border-top: 2px solid #0093d5; position: relative}

.galerie img { width: 247px;}

.arrow-down { padding: 1px; background-color: #abc4d1; text-align: center; /*border-top: 1px solid #ccc;  border-bottom: 1px solid #ccc;*/ display: block;}
.arrow-down:hover {background-color: #999;}

.arrow-down-gal { padding: 1px; background-color: #abc4d1; text-align: center; border-top: 1px solid #ccc;  border-bottom: 1px solid #0072a5; display: block;}
.arrow-down-gal:hover {background-color: #999;}

.navcontainer {width:100%; min-height: 178px;}
.navcontainer li {border-bottom: 1px solid #ccc;}
.navcontainer ul {margin-left: 0; padding-left: 0;list-style-type: none;}
.navcontainer a {display: block;padding: 10px 0px 10px 5px;}
.navcontainer a:link, #navlist a:visited{text-decoration: none;}
.navcontainer a:hover {background-color: #eee;}

h4.archiv {padding:10px;}

.spalte-three .navcontainer {background: #e9f1f2;}
.spalte-three .navcontainer li {height: 88px;}
.spalte-three .navcontainer a:link {font-size: 0.8em;}

.spalte-four .navcontainer {background: #e9f1f2;}
.spalte-four .navcontainer li {height: 88px;}
.spalte-four .navcontainer a:link {font-size: 0.8em;}

.marginal .navcontainer li{ padding:10px; height: auto;}

.navcontainer_holder {
	min-height: 210px;
	width: 247px;
}
.hoverexpander {
	background-color: white;
	position: absolute;
	z-index: 99;
	/* border: 2px solid #fff; */
}
.hoverexpander:hover {
	box-shadow:0 3px 4px rgba(0,0,0,0.3);
}
.hoverexpander .arrow-down {
	position: absolute;
	bottom: 0px;
	padding: 0px;
	width: 250px;
}

.footerlist {padding-left: 0;margin-left: 0;width: 247px;}
.footerlist li {list-style: none;margin: 0;padding: 0px 10px;}
.footerlist li a { text-decoration: none; color: #fff }
.footerlist li a:hover { text-decoration: none; color: #0093d5 }

.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}

.spalte-four  {width: 1000px;}
.spalte-three  {width: 753px; float: left;}
.spalte-three .column01 {margin-right:4px;}
.spalte-four .column01 {margin-right:3px;}
.spalte-one  {width: 247px; float: left;}

.search h2 {font-weight:bold; color:#0072A5; font-size: 0.8em; border-bottom:1px solid #0093D5;padding-bottom:2px; margin-bottom:10px;}
.search h3 {font-weight:bold;}
.search p {border-bottom:1px solid #CCCCCC;padding-bottom:2px; margin-bottom:15px;}



/* #Tables
================================================== */

table{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	border:1px solid #888;
}

table tr:nth-child(odd) { background-color:#eee; }
table tr:nth-child(even) { background-color:#ffffff; }

table td, table th{
	vertical-align:middle;
	border:1px solid #888;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-weight:normal;
	color:#555;
}

tbody tr:last-child td{
	border-width:0px 1px 0px 0px;
}

tbody tr td:last-child{
	border-width:0px 0px 1px 0px;
}

tbody tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
thead th{
	background:#abc4d1;
	border:0px solid #888;
	text-align:center;
	border-width:0px 1px 1px 0px;
	font-weight:bold;
	color:#ffffff;
}

/*thead th:first-child{
	border-width:0px 0px 1px 0px;
}
*/
thead th:last-child{
	border-width:0px 0px 1px 0px;
}

/* #Media Queries
================================================== */

	/* Smaller than 1100px (devices and browsers) */
	@media only screen and (max-width: 1099px) {
		.mainwrapper {
			width: 852px;
			position: absolute;
			left: 50%;
			margin-left: -426px;
		}
		
		.topnav, .headerwrap {
			width:852px;
		}
		.column01, .navcontainer {
			width: 210px;
		}
		.column01.marginal .navcontainer img {width:210px; margin-left:-5px;}
		
		.navcontainer a {
			width:200px;
		}
		.one-column-01 img {
			width: 100%;
		}
		.footerwrap {
			width:852px;
		}
		.footerlist {
			width: 100%;
		}
		.footersearch {
			width: 180px;
		}
		.hoverexpander .arrow-down {
			width: 210px;
		}
		.spalte-three, .column03 {
			width:638px;
		}
		.three-column-txt {
			width: 598px;
		}
	}

	/* Smaller than standard 890 (devices and browsers) */
	@media only screen and (max-width: 888px) {
		.mainwrapper {
			width: 852px;
			position: absolute;
			left: 50%;
			margin-left: -426px;
		}
		
		.topnav, .headerwrap {
			width:852px;
		}
		.column01, .navcontainer {
			width: 210px;
		}
		.column01.marginal .navcontainer img {width:210px; margin-left:-5px;}

		.one-column-01 img {
			width: 100%;
		}
		.footerwrap {
			width:852px;
		}
		.footerlist {
			width: 100%;
		}
		.footersearch {
			width: 180px;
		}
		.spalte-three, .column03 {
			width:638px;
		}
		.three-column-txt {
			width: 598px;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
	}
	
	/* All Mobile Sizes (devices and browser) 
	@media only screen and (max-width: 767px) {}*/

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) 
	@media only screen and (min-width: 480px) and (max-width: 767px) {}*/

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

	}

/* #WDG Individual Changes
================================================== */

.three-article img {margin-right:20px}
.three-article h2 {font-size:2em; color:#0093d5; margin:15px 0; line-height: 1.3em;}
.three-article h3 {font-size:1.8em; margin:15px 0}
.three-article h4 {font-size:1.5em; margin:15px 0}
.three-article ul {margin-left:10px}
.three-article ul li {list-style-type:disc}
.three-article ol {margin-left:10px}
.three-article ol li {list-style-type:decimal; padding-left:3px}

/* Klasse zum ausblenden
================================================== */

.hidden {display: none}

/* Kontaktformular
================================================== */
.contactform {max-width:500px; padding-top:100px; padding-left: 20px}
.contactform textarea {width:500px;height:250px;border-radius:5px;border-color:#AAAAAA;margin:5px;}
.freuen {color:#0093d5;}
